[2019-06-09 16:15] johnvanbreda commented on #614
I've enabled the Administration Views module on iRecord which does exactly this. It als makes the standard "People" page much more easily searched.

[2019-06-09 16:15] #614 closed

[2019-06-09 16:25] johnvanbreda commented on #222
The National Trust enter a casual record form uses dynamic attributes for moth and bat species (https://www.brc.ac.uk/irecord/national-trust/enter-casual-record) but I think that's the only live instance on iRecord. This functionality is used quite a lot on the German Fungi recording site though.

For list of record forms, there are 2 possible implementations. Adding columns to the grid depending

[2019-06-09 17:23] johnvanbreda commented on #575
Scrollbar moved onto tbody element which fixes both these issues.

[2019-06-09 17:23] #575 closed

[2019-06-10 07:05] DavidRoy commented on #222
I could not see the dynamic attributes working on the NT form, e.g. entering a moth name still has the plant stage attributes shown?
![nt pic](https://user-images.githubusercontent.com/2699478/59178253-6d608080-8b56-11e9-8eef-b31984ff99f9.png)

I agree on the approach for the list of records form.  If easier, this can be done in stages with the sex/stage attributes done first?

[2019-06-10 11:50] kitenetter opened #615 "iRecord user apparently has no warehouse account"
iRecord user CathyT has an account page on iRecord:
https://www.brc.ac.uk/irecord/user/54601

That account gives no link to a warehouse ID, and I cannot find her in the warehouse - there is no match for real name, username nor email.

When she tries to log on to iRecord she is getting an error message:

![image](https://user-images.githubusercontent.com/16039111/59193593-18386500-8b7e-11e9-8d05-4d

[2019-06-10 13:28] kitenetter opened #616 "How to import lat/long coordinates from a CSV file"
A user wishes to import records from a CSV file, for which the location is given in two columns for latitude and longitude. My understanding was that this was possible to do, by combining the lat/long into a single column and importing that column into the Indicia sample attribute "Grid ref or other spatial ref".

However, I've just tried to test an import with the coordinates given in a single co

[2019-06-10 13:37] kitenetter commented on #507
@burkmarr have just assigned this to you - what I'm hoping is that you would be able to find the code that John refers to above and either turn that into some documentation about how the rulesets get over-ridden as new data accumulates, or copy the code to me for me to write up some documentation (which I'm very happy to do if the code is sufficiently readable for me to interpret it correctly) - t

[2019-06-10 13:40] BirenRathod commented on #616
@kitenetter
Did you select spatial ref system WGS84? if you have try with other one too. Also, worth to try coordinates separated with comma instead.

[2019-06-10 13:50] kitenetter commented on #616
@BirenRathod How do I select a spatial ref system when doing a CSV import? I can't see any attribute listed in the import fields that would accept a spatial ref system.

Is this something that we can do via the warehouse but that isn't available to iRecord users?

[2019-06-10 13:55] kitenetter commented on #585
@BirenRathod are you able to advise on this one? I need to let the user know what is happening - thanks.

[2019-06-10 13:58] BirenRathod commented on #616
@kitenetter
Yes, spatial ref system is available to use from warehouse while importing CSV. On iRecord website the default is British grid ref and changing that to WGS84 might impact to other survey.

I'm not sure about particular download form should allow to select spatial ref system.

[2019-06-10 14:03] BirenRathod commented on #585
@kitenetter
If 81356 is not available in the warehouse then remove the id 81356 from 16210 and save it. See if that brings 131019. if not then you can update manually to 131019.

[2019-06-10 14:27] kitenetter commented on #616
Okay, in that case I will let the user know that he cannot upload data with lat/long coordinates. He may wish to convert his coords to grid refs. Closing.

[2019-06-10 14:27] #616 closed

[2019-06-10 14:30] kitenetter commented on #585
Thanks @BirenRathod - I removed the ID 81356 from the iRecord account page, and that did indeed result in the ID 131019 being added when I saved the account. Closing.

[2019-06-10 15:08] johnvanbreda commented on #616
@kitenetter to clarify this, the iRecord importer is configured with the following in the Preset Settings parameter:
[code]
This forces the spatial reference system to OSGB. If it is removed, then you get an extra drop down on the first page of the importer allowing you to choose from any of the available systems. The only problem with doing this is that it means existing documentation needs updat

[2019-06-10 15:09] kitenetter commented on #585
Unfortunately the re-linking of these accounts has highlighted another problem.

This user (Alex Cropper) must have previously had an account with user ID 81356. No such user exists in the warehouse interface, but if I search via pgAdmin there is a deleted entry for this user in table "users".

Alex's records prior to 2017 are linked to user ID 131019. His records in 2017 and 2018 are linked to us

[2019-06-10 15:14] BirenRathod commented on #585
@kitenetter
I'm happy to update those records.
As long as I'm aware, once updated those two tables should update records for others too. I also, check cache_occurrences_functional & nonfunctional after running scheduled_tasks.

[2019-06-10 15:22] kitenetter commented on #585
You'll know this better than me, but I think we need to update both `created_by_id` and `updated_by_id`, in each of two tables: samples and occurrences. So that every appearance of `81356` in those attributes is replaced by `131019`.

[2019-06-10 15:27] BirenRathod commented on #585
Indeed, I'm just letting you about possible update might required for other two tables too which is very unlikely.

[2019-06-10 15:28] burkmarr commented on #507
@kitenetter I'll take a look.

[2019-06-10 15:54] johnvanbreda commented on #615
The underscores were being treated as wildcards, so other email addresses were being found when it double checked uniqueness. This is because _ is a wildcard in SQL LIKE statements.
I've escaped the underscore and other wildcard characters and re-saved the account to fix this.

[2019-06-10 15:54] #615 closed

[2019-06-10 16:34] burkmarr commented on #586
@kitenetter - any thoughts on this Martin. I can address this quite easily I think either way.

[2019-06-10 20:45] kitenetter commented on #586
@burkmarr it should definitely apply to V records. I think it should apply to R records as well.

I don't think the message wording needs to be amended, as it talks of records that have "already been checked", and that wording applies whether the checking has resulted in an "Accepted" or "Not accepted" decision.

Rationale for including R records:
If someone is editing an R record I would hope tha

[2019-06-10 21:30] kitenetter opened #617 "User's records are failing to display"
This applies to user:
https://www.brc.ac.uk/irecord/user/2061

who has warehouse user ID 18104. In the warehouse, there are 53 records created_by this user ID. However, if I masquerade as the user on iRecord and go to Explore - My records, I can only see 15 records (which all happen to be of Rooks, and have been added via the "iRecord | Oxfordshire Rooks" survey).

I am completely bewildered by th

[2019-06-11 10:31] MNSmith opened #618 "Elasisearch - Species names column - text wrap issues."
Looking at the Aculeates grid today, some of the longer species names are text wrapping in a very "broken" way.
![names 2](https://user-images.githubusercontent.com/18451743/59265040-6ca21a00-8c3c-11e9-8906-921b9df47a43.jpg)
![names 3](https://user-images.githubusercontent.com/18451743/59265041-6d3ab080-8c3c-11e9-8b59-dab2cc5c93d7.jpg)
![names 1](https://user-images.githubusercontent.com/18451743/

[2019-06-11 10:45] burkmarr commented on #586
Pull request: https://github.com/Indicia-Team/client_helpers/pull/89

[2019-06-11 14:09] burkmarr commented on #507
@kitenetter  I think I have located the code, but I don't think that it tells you any more than John has already outlined. @johnvanbreda  will correct me if I'm wrong, but I don't think this is one of a set of potential overrides - as far as I can tell, it's a one-off. I can point you to the code or send it to you if you like. From your comment above, it seems as though you would like a code chang

[2019-06-11 15:35] kitenetter commented on #507
@burkmarr I don't yet feel that I fully understand how the over-ride processes works. The record cleaner rules address three issues I think:
- difficulty of ID
- phenology
- distribution

My understanding is that within the iRecord context we now apply over-rides to these rule types as follows:
- difficulty of ID: according to the information earlier in this thread, if a given iRecord account has

[2019-06-11 16:54] johnvanbreda commented on #507
@burkmarr just in case you are looking somewhere else, the code is at https://github.com/Indicia-Team/warehouse/blob/master/modules/data_cleaner_identification_difficulty/plugins/data_cleaner_identification_difficulty.php. The comment in the query on line 65 explains that anyone who has successfully identified this species before won't be re-notified. That was done in response to concerns about ov

[2019-06-12 13:32] burkmarr commented on #617
I masqueraded as the user and used Chrome Dev tools to intercept and copy the request made to the Warehouse to load the records. By experimentally removing parameters from the URL and pasting into the address bar of the browser I found that this bit is responsible from filtering the 53 records to 15:

&taxon_group_list_context=73

Removing this from the query causes all 53 records to be returned.

[2019-06-12 13:47] MNSmith commented on #618
Seeing similar issues on the Recorder Name column as well today.

[2019-06-12 14:11] johnvanbreda commented on #618
The styling which allows scrolling of just the table body has an unfortunate side effect of fixing the column widths to equal widths.

Fixed in the code. Will need to remove the custom page CSS and instead use the new scrollY option to get the table body to scroll properly with variable column widths.

[2019-06-13 07:05] johnvanbreda commented on #617
Ok, found it. Filters can either be normal ones (i.e. ones you create yourself) or "defines permissions" (i.e. ones the administrator set for you to give you a set of permissions). For reporting purposes, the former normally applies. For download and verification rights, the latter normally applies.

When you access a screen (reporting, download, verification) the default is to adopt the widest se

[2019-06-13 07:05] #617 closed

[2019-06-13 07:59] burkmarr commented on #617
@johnvanbreda - how is a filter marked as a 'reporting filter' or otherwise. Is it in the actual definition of the filter in filters.definition? I can't spot it in filter 7807.

[2019-06-13 08:25] johnvanbreda commented on #617
[code]
The comment on the column explains the different values..

[2019-06-13 08:31] kitenetter commented on #617
It was me who set up this user as a verifier in 2018, so the filter was defined at that point. Could I have mistakenly set it up as a reporting filter rather than a verification filter?

I can't see the filter listed in our filters admin page though - I would have thought it should be there?:
https://www.brc.ac.uk/irecord/filters/admin-list

The user had the "verifier" box ticked in his user profi

[2019-06-13 08:33] burkmarr commented on #617
@kitenetter looking into it now. Could it have disappeared from the admin page because @johnvanbreda changed the defines permission flag?

[2019-06-13 08:34] kitenetter commented on #617
Possibly! I should have checked for it when the user first raised the issue, don't think I had realised at that point that he was a verifier.

[2019-06-13 08:38] burkmarr commented on #617
@kitenetter - you can check on dev_irecord where John hasn't reset the flag.

[2019-06-13 08:41] burkmarr commented on #617
@kitenetter - this query lists all the reporting filters that have 'defines_permissions' flag set and the users they are set for. There are only 39 so doesn't look like this is a widespread problem. I ran this on dev, but should reflect live site since the DB was recently brought in line. Do you want me to do anything else on this?

set search_path=indicia;
select f.id as filter_id, f.title, f.des

[2019-06-13 13:06] kitenetter commented on #617
No further action require on this one.

[2019-06-13 13:09] kitenetter commented on #585
Hi @BirenRathod have you been able to progress this one yet? It's not very urgent, but it would be good to tidy it up so I can inform the user.

[2019-06-13 21:17] kitenetter commented on #548
@johnvanbreda at least one of the new species now does seem to be appearing in the correct place. Would be great if you can update the preferred taxa as well as the verifier is regularly emailing to find out when the records will be displayed!

In the process of checking this I've found a couple more taxa that are not correctly linked to their hierarchy - @kitenetter to check these next week (Alli

[2019-06-14 06:53] DavidRoy opened #619 "Problem with multisite-lists form entry"
From this iRecord forum post.
https://www.brc.ac.uk/irecord/comment/reply/7759

It may relate to recent dynamic mapping work.  The multisite-lists page is not the most widely used page but a few people use it as their primary approach to data entry.
https://www.brc.ac.uk/irecord/enter-multisite-lists

[2019-06-14 07:20] burkmarr commented on #619
From iRecord post:

[2019-06-14 07:48] johnvanbreda commented on #619
This does seem to be a dynamic map issue, as if I change my layer to OSM then reload the page, the grid squares I entered appear correctly. @burkmarr I'll leave this in your safe hands but come back to me if you want a hand.

[2019-06-14 08:03] burkmarr commented on #619
@johnvanbreda - what's the workflow here? (I am not familiar with this form.) Presumably you can only edit records for the current batch - i.e. those that are 'finished' but not submitted? Or have I misunderstood? I don't have any problems seeing/editing 'finished' but unsubmitted records on dev, regardless of what map I am displaying. When I go back to the same place after submission, I don't see

[2019-06-14 08:27] BirenRathod commented on #585
@kitenetter
156 records of samples have been updated.
217 records of occurrences have been updated.
Please wait for sometime (about 30 min) to check records on iRecord because it will updated in cache occurrences functional & nonfunctional tables.

[2019-06-14 08:36] johnvanbreda commented on #619
The problem occurs only after saving the whole form (i.e. finishing one or more grid square batches, then saving the form), then finding one of the records in My Records and clicking Edit. If you masquerade as me you can look at My Records and the last few records were entered using the multisite form.

[2019-06-14 08:41] burkmarr commented on #619
Okay thanks @johnvanbreda - I got it now. Will work on this early next week at the latest.

[2019-06-14 08:46] burkmarr commented on #619
Posted on the forum thread so user has the workaround in the meantime.

[2019-06-14 10:20] johnvanbreda commented on #548
@kitenetter I've fixed the preferred/non-preferred taxa.

[2019-06-14 11:30] johnvanbreda commented on #525
Thanks Biren

[2019-06-14 11:30] #525 closed

[2019-06-18 11:43] burkmarr commented on #64
@kitenetter  I've updated the LERC boundaries from a slightly cleaned version of what Tom sent through yesterday. Have a look and let me know if you have any concerns about me changing the live site.

Note that on dev I did this in a slightly awkward way which means LERC boundaries whose names changed were removed and replaced with new entities with the new names. But that means that if one of tho

[2019-06-18 11:56] burkmarr commented on #64
Note also that these locations from Tom file have a 12 nautical mile buffer.

[2019-06-18 17:01] burkmarr commented on #619
Bug found and fixed. Pull request made on devel.

[2019-06-19 07:46] burkmarr commented on #619
Merged into devel.

[2019-06-19 08:33] kitenetter commented on #64
@burkmarr I can't get dev iRecord to work (HTTP ERROR 500). From what you've said I would expect it to be okay to update on the live site, but was there anything in particular you wanted me to check?

Before doing the live update, could you let me know if there are any LERCs in the old layer that do not appear in the new one (and also if there are any in the new that weren't in the old) - thanks.

[2019-06-19 08:44] BirenRathod commented on #64
@kitenetter
No problem of accessing this http://test.brc.ac.uk/irecord_dev/ site.

[2019-06-19 08:52] kitenetter commented on #64
Thanks @BirenRathod - at the second attempt it was fine, not sure why it got stuck first time.

@burkmarr I've looked at a few of the boundaries and all seems as expected, so unless there are any particular areas to check I think we can proceed. Will you update your previous map change notes on the forum when it's done?

[2019-06-19 13:53] burkmarr commented on #64
@kitenetter the closer you look at this, the more difficult it becomes!

There are some very substantial changes to boundaries, particularly in Scotland. Types of change include:

- elimination of overlapping boundaries between neighbouring LERCs
- subsumption of some LERCs within a bigger neighbour
- new LERCs
- removal of former LERCs

The boundaries of most of the LERCs have changed and I will

[2019-06-19 14:24] kitenetter commented on #64
@burkmarr could you let me have the location_ids for the old polygons in that table so that I can check against the verification filters - thanks.

[2019-06-19 14:27] burkmarr commented on #64
@kitenetter - do you just want the ones identified for deletion?

[2019-06-19 14:35] burkmarr commented on #64
Here they are:

| 1434 | Perth Museum Biological Records Centre        |
|------|-----------------------------------------------|
| 1440 | Naturebase (Dundee Museum)                    |
| 1410 | Skye Environmental Centre                     |
| 1420 | Arran Biological Records Centre               |
| 1425 | Ayrshire Biological Records Centre            |
| 1444 | Central Scotland Wildlife Informa

[2019-06-19 14:47] burkmarr commented on #64
I just notice this comment from @johnvanbreda from a couple of years ago in this issue:

@johnvanbreda - that advice about deleted boundaries sounds reasonable. Do you still recommend this as a way forward. Has the re-indexing comment been superseded?

[2019-06-19 15:02] burkmarr commented on #507
@kitenetter - if you're in agreement with @johnvanbreda's analysis - particularly the last two paragraphs above - perhaps we could close this issue and raised a new one specifically to address this piece of work:

I'm happy to be assigned to that and I can take a look and liaise with John.

[2019-06-19 15:07] johnvanbreda commented on #64
@burkmarr this comment predates the work queue which should handle the re-indexing, though I can't guarantee that updates as complex as this won't affect server performance.
The idea of moving locations into a new layer for expired LRC boundaries means that if any records point directly at these locations then the information isn't lost. It might be that there aren't any direct links but at least

[2019-06-19 15:19] kitenetter commented on #64
@burkmarr none of the to-be-deleted boundaries are in use in our verification filters. As you say, it is possible that they have been included in individual users' saved filters, but I think as long as we explain in the forums what is happening that's fine - if anyone gets stuck they can contact us for support.

There are plenty of good reasons for doing this update of course as it will ensure tha

[2019-06-20 07:54] burkmarr commented on #64
How about having a general layer for "expired locations" rather than just expired LERCs? That way if a similar situation arises with other location types, we can just change their type to this rather than delete them. For example if we retire the Yorkshire and Sussex aggregate VC boundaries we could just change their types to this too. I imagine their's very little cost to hanging onto these polyg

[2019-06-20 09:50] johnvanbreda commented on #64
@burkmarr I agree, that sounds fair. Is it worth adding the location type as a note in the comments or something, so we can disentangle the expired locations if we ever need to?

[2019-06-20 10:30] burkmarr commented on #64
@johnvanbreda - will do.

[2019-06-20 14:00] burkmarr commented on #64
I've completed this work. 'Retired' LRC boundaries moved to a new location type called 'Expired boundaries' with a comment to indicated that they were, prior to today, of the 'LRC Boundary' type. I also added a comment to all renamed LRC boundaries specifying what their name was prior to today. All boundary geometries were successfully updated and five new boundaries added.

[2019-06-20 14:00] #64 closed

[2019-06-26 08:01] johnvanbreda commented on #222
The Sampling method control visible in the screenshot here is the only dynamic one - that's just the way NT specified the form as they didn't ask for the stage to change.

Still to do - species list dynamic swapping of system controlled attributes.

[2019-06-27 11:41] kitenetter opened #620 "Problem with incorrect date format"
A user has saved a record with the date "04/2019 to 12/2017". That record saved without any warning message, and is displayed in iRecord, but the date is shown as "invalid". When the user tries to edit or delete the record it is not possible to do so.

I've replicated this with another record for the same back-to-front date, and had the same result. Not only am I unable to delete this record in iR

[2019-06-27 12:25] burkmarr commented on #620
@kitenetter what input form was used?

[2019-06-27 12:43] kitenetter commented on #620
For mine it was the normal Enter a casual record form:
https://www.brc.ac.uk/irecord/enter-casual-record?occurrence_id=10521711

I think it was the same for the other user, but I will check when I hear back from him.

[2019-06-27 13:07] burkmarr commented on #620
@kitenetter I've fixed the user's record - can you let them know? They can now edit or delete it if they so wish. I'll sort your record out and then look into the bug.

[2019-06-27 13:21] burkmarr commented on #620
@kitenetter  - I've sorted out yours too, so you can delete that too if you want.

[2019-06-27 13:28] kitenetter commented on #620
Thanks @burkmarr - both those records are now dealt with, so it just leaves the issue of whether we can prevent invalid date formats from being saved in the first place.

[2019-06-27 14:28] kitenetter commented on #585
Thanks @BirenRathod - closing.

[2019-06-27 14:49] johnvanbreda commented on #620
@burkmarr thanks for taking this on. In case you are not aware, date handling is done by application/helpers/vague_date.php. There is a class application/tests/vague_dateTest.php which contains a number of test functions. I would advocate adding a function to this file to test the above date, then either test it locally with PHP Unit, or commit it and push to GitHub (perhaps in a branch). You shou

[2019-06-27 14:54] burkmarr commented on #620
Many thanks @johnvanbreda - I'll do that.

[2019-06-27 15:47] kitenetter commented on #585
@BirenRathod I spoke too soon!

As far as I can see, the records have been updated in tables occurrences and samples, but not in tables cache_occurrences_functional and cache_samples_functional, and the records are not appearing under the correct user account in iRecord.

I haven't checked the nonfunctional cache tables.

[2019-06-28 11:14] burkmarr commented on #620
Added checks to vague dates to ensure that end date after start date (except here end date is null). Created merge request on develop branch. https://github.com/Indicia-Team/warehouse/pull/326

[2019-06-28 13:22] kitenetter opened #621 "Request for ability to bulk delete one's training records"
Users who use the training option to test csv imports can end up with large numbers of training records. A user has requested that we provide the option to clear the entire training account when needed.

In part this is because training records are apparently included in at least some of the summary reports under the "Summarise" menu, so a second issue is for those summaries to exclude training da

[2019-06-28 16:04] johnvanbreda commented on #585
@biren you may need to insert entries in the work_queue table. See https://indicia-docs.readthedocs.io/en/latest/administrating/warehouse/scheduled-tasks.html#work-queue

[2019-07-01 09:03] #618 closed

[2019-07-01 10:06] #620 closed

[2019-07-01 10:53] BirenRathod commented on #585
Thanks @johnvanbreda.

@johnvanbreda, the link suggested to use occurrence table only. Do I need to add same for sample table too?

[2019-07-01 10:59] johnvanbreda commented on #585
@BirenRathod yes, you should do the same for the sample table. Set the entity to sample, apart from that it is the same.

[2019-07-01 11:28] BirenRathod commented on #585
Thanks @johnvanbreda

@kitenetter , I have inserted rows in the work-queue table, so it should be OK once next task scheduled finished to run.

[2019-07-01 14:05] burkmarr commented on #619
Merged to master. https://github.com/Indicia-Team/media/commit/4c46fb9ff4060074db1b25059b023e1c9f908830

[2019-07-01 14:05] #619 closed

[2019-07-01 14:05] burkmarr commented on #607
Merged to master. https://github.com/Indicia-Team/media/commit/4c46fb9ff4060074db1b25059b023e1c9f908830

[2019-07-01 14:05] #607 closed

[2019-07-01 14:06] burkmarr commented on #601
Merged to master. https://github.com/Indicia-Team/media/commit/4c46fb9ff4060074db1b25059b023e1c9f908830

[2019-07-01 14:06] #601 closed

[2019-07-01 14:07] burkmarr commented on #586
Merged to master. https://github.com/Indicia-Team/media/commit/4c46fb9ff4060074db1b25059b023e1c9f908830

[2019-07-01 14:07] #586 closed

[2019-07-01 14:07] burkmarr commented on #203
Merged to master. https://github.com/Indicia-Team/media/commit/4c46fb9ff4060074db1b25059b023e1c9f908830

[2019-07-01 14:07] #203 closed

[2019-07-01 16:00] kitenetter commented on #590
There have been a couple more reports in the iRecord inbox today from users who have got stuck in a similar loop. I won't re-open it at the moment, but will monitor whether this persists.

[2019-07-01 16:02] kitenetter commented on #590
Actually one of today's accounts was the second example I've seen recently of an apparently legitimate user having their account flagged as blocked. What might cause an account to get flagged as blocked?

[2019-07-03 09:40] kitenetter opened #622 "Enhancement to notification emails"
NatureSpot users have requested that we make it clearer that you have to be logged in to iRecord in order to add a comment in response to a notification email. Currently our notification emails include a hyperlink to the observation page (under the "Record ID" heading), but if you go to that page while not being logged in you cannot see nor add to a comment box, nor do you have an option to log in

[2019-07-03 09:45] kitenetter opened #623 "Unhelpful link behaviour in notification emails"
I've been sent an example of a "Comments on your records" notification email that includes a hyperlink labelled "Comment here", that goes to an apparently non-functional URL:
?user_id=97482&occurrence_id=10096848&warehouse_url=

![image](https://user-images.githubusercontent.com/16039111/60581919-b71c3f80-9d7f-11e9-9566-4d562f025fc3.png)

However, I can't find an example of the "Comment here" link

[2019-07-03 13:55] kitenetter commented on #602
@burkmarr I've had some discussion with Esther Hughes at MBA about this, and we think this is definitely worth pursuing, although it's possible that we may need to go through one or two iterations once verifiers start seeing it in action.

I suggest our starting point should be a set of five boundaries (England territorial sea, Wales territorial sea, Scotland territorial sea, Northern Ireland terr

[2019-07-04 17:02] kitenetter opened #624 "Users' records failing to display"
We had a report in the forums from two users whose records had disappeared from their "My records" view: https://www.brc.ac.uk/irecord/node/7653

I fixed this for each user through this procedure:
- Masquerade as user
- User account page shows "Your preferred locality for recording is ." (NB full stop but no county name).
- Edited user account (while still masquerading). "Where you record - Record

[2019-07-05 10:17] kitenetter opened #625 "Elasticsearch verification: deleted records remaining in grid"
A verifier queried why there were records in his "verification - new" view that were not in his "verification" view. The examples he's given are all of records that have been deleted, and they have an updated_on value of 25 June 2019, but they are still showing in the verification grid today (5 July 2019).

I know there can be a short delay before the elasticsearch tables get updated, but this see

[2019-07-05 10:53] kitenetter opened #626 "Request permission to delete filters that were set up by other admin roles"
Is it possible to give the "iRecord support" user account (user ID 102855) the ability to delete filters that were created by other admin accounts (usually David Roy or admin) from the iRecord "Filters Admin" page, in order to avoid me having to ask someone else to delete via the database?

[2019-07-05 11:34] kitenetter opened #627 "Check behaviour of record cleaner rules for dates"
A user (who happens to be recording spiders!) entered some records giving a full date range of 01/01/2018 to 31/12/2018. The records were being entered on behalf of someone else, and that person then said he didn't want the records shown as "01/01/2018 to 31/12/2018", he wanted them shown as "2018".

So the user who had entered the records edited them to give just the year rather than the full ran

[2019-07-05 13:00] burkmarr commented on #602
@kitenetter - what is the thinking behind having these in the country 'layer' rather than having a new type?

Also what about IOM and CIs - I can source the data for these too (I'm getting it all from OSM - oddly enough its more complete than those other sources).

[2019-07-05 13:08] kitenetter commented on #602
@burkmarr the thinking was that for some purposes we might want to set up a filter for the terrestrial part of a country and then to add the extended territorial waters to the same filter, I don't think we're able to easily set up filters that include boundaries from two different 'layers'.

Having said that, does it cause problems that the suggested half-mile buffer on the inland side would overl

[2019-07-05 13:23] burkmarr commented on #602
@kitenetter

I hadn't considered the limitation on combining buffers. If it's possible that people will want to combine these filters as you suggest then I think they will need to go in the same layer. I can't think of any down-sides to doing it. I don't think the overlap will cause a problem - it's not the most efficient of course.  Shall I put in same layer for now then? (I'll do all this on dev

[2019-07-05 13:46] kitenetter commented on #602
I know that overlaps between the VC boundaries have caused problems in the past - is there an issue with indexing across overlapping boundaries?

I have no problem with putting these new territorial sea ones into their own layer if that will avoid potential problems.

I think it is simplest for now to include IoM in the England territorial sea boundary - I have no requests for filtering IoM record

[2019-07-05 13:50] burkmarr commented on #602
@johnvanbreda - what's your view on where to put these new objects for filtering? If there is a problem with overlaps as Martin suggests, then I guess it's best to put them into a new location type.

[2019-07-05 13:53] BirenRathod commented on #602
@burkmarr
put them into a new location type would be an ideal things to do.

[2019-07-05 14:11] johnvanbreda commented on #602
Just picking this up so a few points going over the conversation:
* The only reason why you can't combine the boundaries from multiple layers in a filter is because the UI is coded to clear the selection when you switch layer. That seems like a small enough change to the code which would be preferable to muddling up different types of polygons into the countries layer.
* The Channel Islands bounda

[2019-07-05 14:18] kitenetter commented on #602
I was basing the inclusion of IoM on this 12 mile dataset:
https://data.admiralty.co.uk/portal/apps/sites/#/marine-data-portal/items/2bd3ea1bbdc04e83bb9fb54644723d20?geometry=-11.237%2C53.931%2C2.639%2C56.134

However, I have no problem with keeping it separate, that gives us more options if the issue arises in future. I would like IoM to be available from the start, alongside England, so we can c

[2019-07-05 14:23] kitenetter commented on #337
This is now in progress thanks to some queries that @burkmarr set up to find users with the old-format verification role. Will close once I have finished transferring them to the newer-format role.

[2019-07-05 14:59] johnvanbreda commented on #602
I won't get into an argument with the Admiralty but isn't that map wrong?!!
See https://www.gov.im/about-the-government/departments/cabinet-office/external-relations/constitution/

[2019-07-05 15:09] kitenetter opened #628 ""Verification - new" displaying all records, not picking up on verifier's filter"
Verifier Dave Slade (user ID: 252) had been set up under the old system, with the verification role added via his user account page. I have removed that role, and he should now be linked to two verification filters under the current filtering system.

If I masquerade as Dave and go to the old verification page, all is well, I can look at butterflies in Glamorganshire or switch to moths in Glamorga

[2019-07-05 16:57] burkmarr commented on #602
@johnvanbreda Can't both be right! On dev warehouse I've created a new location type called 'Country territorial waters'. To add that to spatial indexing, do I add it to the $config['location_types'] array in modules\spatial_index_builder\config\spatial_index_builder.php? And what about specifying that it is to appear in the location types drop-down list in filtering - where is that configured?

[2019-07-06 18:37] johnvanbreda commented on #602
@burkmarr Yes to the first question about adding to $config['location_types'].
Each page that has a filter builder on it has a configuration for the indexed location types, pointing to an array of location type IDs. It's normally found in the user interface configuration bit - let me know if you can't find it.
We also need to update Elasticsearch's lookup files with all these new spatially indexed

[2019-07-06 20:03] johnvanbreda commented on #628
The expiry of a cached file has 2 elements:
1. Time - the default behaviour is that cached information never expires for the first hour after the last refresh (this setting is overridden in some cases so it's not always an hour).
2. Random element - even after an hour, there is only a 1 in 10 chance of the cache data refreshing. This is to prevent a page with multiple report queries from refreshin

[2019-07-06 20:03] #628 closed

[2019-07-08 10:56] burkmarr commented on #602
@kitenetter I've added a new location type (=layer) on the dev warehouse - Country territorial waters - and populated it with the GIS data I created. This is what I did:

- Where possible I took the boundaries of the territorial waters from the two data sources Martin pointed to above.
- Where these were insufficient, e.g. delineation between UK countries, I used, where possible, vector data downl

[2019-07-08 13:06] johnvanbreda commented on #602
@burkmarr I think the new country territorial waters layer name is missing from $config['location_types'] in the spatial index builders' config file?

[2019-07-08 13:11] burkmarr commented on #602
@johnvanbreda - on dev it's in modules\spatial_index_builder\config\spatial_index_builder.php. Is that the right config file? (I inserted it after country, not at the end.)

[2019-07-08 13:33] johnvanbreda commented on #602
Hmm, that's weird, I can't see it and the behaviour I see is consistent with it not being in the config. You do mean the machine with IP address 192.171.199.237, in the file d:\websites\warehouse\modules\spatial_index_builder\config\spatial_index_builder.php, under the setting $config['location_types']?

[2019-07-08 13:37] burkmarr commented on #602
@johnvanbreda - I've just noticed that my save failed! Now I've retried as admin and I think it's done it! I'll do the indexing again.

[2019-07-08 16:40] burkmarr commented on #602
@johnvanbreda I can't get the spatial indexing tasks in the work queue to complete. Running index.php/scheduled_tasks?tasks=work_queue seemed to do something first time round, but the tasks are still in the work queue. Running the work_queue scheduled tasks again just returns immediately. Is this because the tasks have already be 'claimed'? What is the meaning of the claimed_on and claimed_by colu

[2019-07-08 19:54] johnvanbreda commented on #602
When a scheduled tasks run calls the work_queue, it creates a GUID. Then, before each task type does any actual work on the queued tasks, it fills in the claimed_by field with that GUID and the claimed_on. This means that if you ran multiple work queue processes simultaneously, they would each claim different tasks and not get in each other's way.
If you run the tasks via the browser, PHP is limit

[2019-07-09 07:07] burkmarr commented on #602
Thanks @johnvanbreda - that's very clear. @BirenRathod - can you set up scheduled tasks on the dev warehouse?

[2019-07-09 15:52] burkmarr commented on #627
@johnvanbreda - trying to reproduce this on localhost. I have relevant record cleaner modules enabled and have imported rules for spiders. I can view these rules in the warehouse, for example here's the period within year rule for Nurseryweb Spider:

`Tvk=NBNSYS0000008830`
`StartDate=0213`
`EndDate=1231`
`DataFieldName=Stage`

When I enter a record with a date outside this range for this species,

[2019-07-09 16:21] BirenRathod commented on #602
@burkmarr
The scheduled task has been already setup. sorry bit late response top this.

[2019-07-09 16:46] burkmarr commented on #602
Thanks @BirenRathod. @kitenetter - records have been indexed against these areas now so you can try out the filters on dev when you have time. I'll wait for the nod from you before adding them to the live site.

[2019-07-09 17:22] burkmarr commented on #624
The ids of the locations are stored in the Drupal DB @kitenetter. I can't see anything obvious. I wonder if the problem conditions for those two users is was carried into irecord_dev. If you can mail me their identities, I can check. Don't fix the problem on irecord_dev if it's present - I want to examine the underlying DB state. It's hard to investigate something like this if you can't reproduce

[2019-07-10 08:22] burkmarr commented on #622
@kitenetter - the configuration file added by John to address #209 is here on the live Warehouse: warehouse\modules\notification_emails\config\notification_emails.php. I've updated the text in that to include the amendments you asked for. I'll investigate the login option.

[2019-07-10 09:15] burkmarr commented on #622
@kitenetter We can configure the Drupal login block so that it appears on the record details page (it will only appear if user not logged in). I've done this for irecord_dev. You can test it following the link below. If you are not logged in, you will see the login block, but it you are logged in, you won't:

http://test.brc.ac.uk/irecord_dev/record-details?occurrence_id=10190925

Let me know if y

[2019-07-10 09:21] johnvanbreda commented on #622
@burkmarr I'm happy with this - my only concern was to make sure it stays on the same page rather than redirects somewhere else when you log in but I can see that it already does.

[2019-07-11 14:52] johnvanbreda opened #629 "Issues with the new dynamic map layer"
With the new dynamic map layer selected in iRecord, the code does not seem to handle zooming across the entire zoom range of the middle (OS) layer very well. Symptoms of this include:
* Start zoomed out so viewing OSM for the British Isles. Now, click on the topmost rung of the zoom bar. You are switched to Ordnance Survey at its top zoom level, which is 1 higher than the point at which we should

[2019-07-12 08:13] BirenRathod commented on #626
@kitenetter
"iRecord support" has already assigned as admin. In order to check this, can I have a page URL please?

[2019-07-12 11:09] johnvanbreda commented on #598
Elasticsearch filter conversion supports the searchArea parameter in the latest code.

[2019-07-12 11:24] johnvanbreda commented on #558
You now have options for a grid based version with atlas style circles that are darker for "hotter" spots. Plus another layer for all the records in the current grid.

[2019-07-12 11:24] #558 closed

[2019-07-12 12:21] johnvanbreda commented on #559
Done

[2019-07-12 12:21] #559 closed

[2019-07-15 10:40] DavidRoy opened #630 "ES Explore all report - remove filter option"
Demo page at: https://www.brc.ac.uk/irecord/elastic/explore/all

Remove filter selector until we have enable filter creation for Elastic Search

[2019-07-15 10:47] DavidRoy opened #631 "ES Explore all report - increase size of icons for column settings/full screen"
Demo page at: https://www.brc.ac.uk/irecord/elastic/explore/all

Increase visibility of spanner and full-screen icons

[2019-07-15 11:10] DavidRoy opened #632 "ES Explore my records - missing fields in download"
https://www.brc.ac.uk/irecord/elastic/explore/my

Download file is currently missing data from the following columns:
Higher geography | Vice County | Vice County number

[2019-07-15 11:35] johnvanbreda commented on #630
Done, left code commented out in the user interface config.

[2019-07-15 11:35] #630 closed

[2019-07-15 11:50] johnvanbreda commented on #631
Fixed in code ready for next release.

[2019-07-16 18:38] kitenetter commented on #632
Attached is a comparison between old download and new.

- There are 13 columns in the old format that are not in the new (at least one of these is probably not needed)
- There are 8 columns in the new that were not in the old (at least one of these is probably not needed)
- The majority of columns that are in both formats have had their column heading names changed; in some cases the new name is a

[2019-07-16 18:52] kitenetter commented on #626
@BirenRathod my starting point is the list of filters here:
https://www.brc.ac.uk/irecord/filters/admin-list

If I edit a filter that I have previously created, I am able to delete it via a delete icon (rubbish bin) next to the Save icon.

If I edit a filter created by another admin, then I cannot delete it - the delete icon is not displayed.

Here is an example of a filter I cannot delete:
https:

[2019-07-16 20:24] kitenetter commented on #624
@burkmarr the user names are "Dipper" and "Nev Wright". I've tried masquerading on the dev site but I just get an endless egg-timer, so haven't been able to check whether their records are visible on dev.

[2019-07-16 20:26] kitenetter commented on #624
And just as I typed the previous comment the egg-timer got to the end! For user "Dipper" the problem as described at the start of this thread is visible on the dev site - there are no records under Explore - My records, and the account's preferred recording location has the full stop.

[2019-07-17 08:07] burkmarr commented on #629
I'm happy to take a look at this John.

[2019-07-19 11:43] DavidRoy opened #633 "iNaturalist import has stopped"
Records haven't been imported from iNaturalist for ~40 days.

Here is the plot of incoming data
![inat](https://user-images.githubusercontent.com/2699478/61532749-c4455980-aa22-11e9-9e87-5efcf947b6ed.png)

@BirenRathod is the scheduled task running? see #581

[2019-07-19 12:05] BirenRathod commented on #633
Yes, I can confirmed that it is running fine. Here is the screen shot.
![image](https://user-images.githubusercontent.com/5941255/61533854-e9879700-aa25-11e9-88a9-03cbe465083f.png)

[2019-07-20 16:56] johnvanbreda commented on #633
@BirenRathod I think that is the schedule for the main scheduled tasks process, not the rest API sync (called Indicia Import in Task Scheduler). The Indicia Import task is running every night but immediately failing. If I run it manually, either from this link: /index.php/services/rest_api_sync, or via the warehouse Admin menu, Rest API Sync menu item, then it works. So I suspect a permissions iss

[2019-07-22 07:49] BirenRathod commented on #633
@johnvanbreda & @BirenRathod
Sorry it was my mistake. Due to last PHP update, I missed to change the path of the PHP in task scheduler. I just done it for indicia import, so should be fine.

[2019-07-23 08:21] DavidRoy commented on #633
Thanks for resolving.  Import now working.

[2019-07-23 08:27] DavidRoy opened #634 "iRecord importer issue - assigning records to 'admin' instead of user"
We've had reports of when importing a csv file using 'survey = iRecord General data' and UK master list the records are assigned to 'admin' rather an a user's own account.

[2019-07-23 08:49] DavidRoy opened #635 "Data missing from user's my-records report"
relates to: https://www.brc.ac.uk/irecord/node/7792

The record was submitted via the iRecord app but warehouse view of the record shows no obvious issues.
http://warehouse1.indicia.org.uk/index.php/occurrence/edit/10641696

[2019-07-23 11:17] BirenRathod commented on #633
I can confirm that this morning scheduled task ran successfully. So you could expect to see data if there is any in last two days. As I can see from above picture warehouse doesn't receive every day.
![image](https://user-images.githubusercontent.com/5941255/61708050-c3bf0280-ad43-11e9-908a-97b59de8840f.png)

[2019-07-23 18:54] kitenetter commented on #635
Possibly related to #624 although in this case there is no sign of the "Your preferred locality for recording is ." problem.

[2019-07-24 08:35] kitenetter commented on #634
One of the users affected is Derek Whiteley, warehouse user ID 8590. Derek would like the records to be linked back to his account rather than admin core, but I can't immediately see a way of finding the set of records in question, and I'm not sure how many other users might be affected.

Marking this as urgent since if it continues we will be faced with lots of requests to reassign records.

[2019-07-24 12:28] DavidRoy opened #636 "UKSI update August 2019"
Full update of UKSI using existing scripts.

Step0: test on local warehouse instance (RJB updated)
Step1: test via dev warehouse/irecord
Step2: implement on warehouse1 and live irecord

[2019-07-24 12:37] DavidRoy commented on #34
Add filter by 'my imports' into the filter builder and available via explore reports (verification page)

[2019-07-24 12:46] DavidRoy commented on #222
Closing as the specific issue dealt with

[2019-07-24 12:46] #222 closed

[2019-07-24 12:51] DavidRoy opened #637 "Species list entry - dynamic system occurrence attributes"
Follow on from #222

Species list entry - swap system attributes to dynamic occurrence attributes where available for selected taxon (e.g. moths)

[2019-07-24 12:59] DavidRoy commented on #163
Review and update.  Create specific issues, particularly deletion of necessary records

[2019-07-24 13:01] DavidRoy commented on #200
Review and identify smaller steps that can be implemented in the short/medium term

[2019-07-24 13:04] DavidRoy commented on #386
2. is controlled by filter setting.  Review if filter settings enable what is needed for export

[2019-07-24 13:17] DavidRoy commented on #548
Review current status of issue

[2019-07-24 14:49] DavidRoy opened #638 "Implement new T&Cs for iRecord"
Implement Indicia module - indicia licences

Photo licence option on user profile

Publish new T&C version at https://www.brc.ac.uk/irecord/terms_of_use

Test on dev iRecord

[2019-07-25 08:07] burkmarr commented on #15
Discussed at planning meeting on 24/07/2019. We will implement licensing on photos only and publish new T&Cs. Opened a new issue for this: #638

[2019-07-25 08:07] #15 closed

[2019-07-25 09:21] burkmarr commented on #638
@johnvanbreda @BirenRathod The Indicia licenses module is on in irecord_dev and  Iform settings > Indicia licence choices is set to 'User can select licence for media (photos etc) only', but I can see no sign of a license selection control on a user profile page. Have I missed a configuration step or something?

[2019-07-25 09:37] BirenRathod commented on #638
@johnvanbreda
It hasn't appeared even in hidden fields list of user's manage field settings. Seems like there is still required some improvement of code or may be bug some where.

[2019-07-25 10:12] BirenRathod commented on #626
@burkmarr
This requires to implement the code.

[2019-07-25 10:19] burkmarr commented on #587
@kitenetter. It would have been nice to try this out on dev first, but the second account isn't on there. Would it be best to do this via the user interface? What about this workflow:

1. Log in to iRecord as admin.
2. Go to https://www.brc.ac.uk/irecord/admin/people
3. Filter on the name of the second user (that you want to delete), and copy the email address somewhere safe.
4. Delete this user (

[2019-07-25 12:07] johnvanbreda commented on #638
Not a bug, but I suspect you need to add some licenses to the iRecord website at http://devwarehouse.indicia.org.uk/index.php/website/edit/23 (Licences tab).

[2019-07-25 13:01] burkmarr commented on #638
@johnvanbreda - spot on thanks.

[2019-07-25 16:56] burkmarr commented on #638
@johnvanbreda - where is a user's license selection stored? I thought it would be in the Drupal DB alongside things like location, taxon_groups etc, but I don't see it there.

[2019-07-25 17:24] kitenetter commented on #626
Assigning to current milestone as @johnvanbreda has highlighted a potential performance issue arising from the verification filters that are awaiting deletion.

[2019-07-26 06:36] DavidRoy commented on #634
More reports of issues with the importer. https://www.brc.ac.uk/irecord/node/7802

[2019-07-26 06:38] DavidRoy opened #639 "User's records not showing on 'my-records' report"
https://www.brc.ac.uk/irecord/node/7807

May link to #639

[2019-07-28 11:09] DavidRoy commented on #633
@BirenRathod There have been no records since John ran the process manually.  Can you look again at the scheduled task please

[2019-07-29 09:24] DavidRoy opened #640 "Additions to species list for Agromyzidae Recording Scheme"
To be added to taxon lists to enable recording in iRecord.  Adding to August 2019 milestone as import for supporting active Recording Scheme on iRecord.

Agromyza abdita
Agromyza macedonica
Cerodontha palustris
Cerodontha pygmella *
Cerodontha zuskai *
Liriomyza latigenis
Liriomyza obliqua
Liriomyza taurica *
Liriomyza yasumatsui
Melanagromyza galegae
Phytomyza phillyreae
Phytomyza penicilla
* = s

[2019-07-29 10:10] BirenRathod commented on #633
@DavidRoy
I can't see any errors or problem of having any difficulty.
Here is the screenshot.
![image](https://user-images.githubusercontent.com/5941255/62040352-5d2d5f00-b1f1-11e9-8383-c77cc8308506.png)

[2019-07-29 13:54] johnvanbreda commented on #640
Names can presumably be added via the UI. I think @kitenetter already has notes - the key thing is to set the TVK into both the external key and search code fields so it maps properly to UKSI.

[2019-07-30 13:19] burkmarr commented on #638
@johnvanbreda - I figured out that this is stored in the Warehouse users_websites table. I'm thinking that I can access the value for a user from PHP in the top pane of iRecord's homepage. Can you give me any pointers on the best way to access that value - do I need to use the client_helpers API?

[2019-07-30 15:02] burkmarr commented on #638
@DavidRoy, @kitenetter and @johnvanbreda I have a note from our last meeting that once the media licensing option is implemented, I should check the response when masquerading as a user with many existing images who sets the media license option on their profile. I did this on irecord_dev and the response was immediate. A note at the bottom of the license options says "Select the licence to apply

[2019-07-30 15:31] johnvanbreda commented on #638
@burkmarr The code in the iform_licences.module file is fairly clear about the intentions. The message shown if you have never set a licence before should tell you that it will affect all your existing records. The message you saw was the one that should be shown if you have already set a licence.

Maybe there was a bug then, in that it thinks you had already set a licence even though you hadn't?

[2019-07-30 15:53] burkmarr commented on #638
@johnvanbreda - my bad. I masqueraded as the wrong user - one with no previous images - and I had only seen the instruction on revisiting the page. I've just done it for a user with over 13,000 images. The initial instruction was as you said and the page returned less than 1 minute after submission. I've checked the DB and the license_id was updated for all their images.

[2019-07-30 16:21] burkmarr commented on #587
@kitenetter - shall I go ahead and do this?

[2019-07-31 11:46] burkmarr commented on #638
@johnvanbreda - just a prompt to ask if you have any pointers about the 'right' way to go about implementing a message on home page to users who have not yet set a media licensing option.

[2019-07-31 11:48] burkmarr commented on #640
@DavidRoy - are any of these likely to be in the latest UKSI? In other words, should I tackle this after the UKSI is updated?

[2019-07-31 12:07] DavidRoy commented on #640
I think these are ideally tackled before the UKSI update, as it should be a reasonable simple upload.  @kitenetter to advise

[2019-07-31 12:11] burkmarr commented on #626
@kitenetter @johnvanbreda the relevant code is in \iform\media\js\reportFilters.js. There is code to only show the delete button if the user_id of current user matches the user_id of the filter creator. (There also code that filters records to be deleted based on current user ID.)

Some options are:

- Alter code so that users with admin privilege can delete any filter. (Is this consistent with th

[2019-07-31 12:16] BirenRathod commented on #626
@burkmarr
Ideally it should be the first one which is user with admin privilege should able to amend or delete filter. There are only handful of people have got assigned with admin role.

[2019-07-31 14:16] burkmarr commented on #636
@johnvanbreda - what is the purpose of the uksi schema in the Warehouse DB?

[2019-07-31 15:20] burkmarr commented on #636
@johnvanbreda - I'm testing this first on a local warehouse instance from data files generated from a UKSI Access DB supplied to me today by Chris Raper (as per the Readthedocs instructions). This warehouse already has a UKSI species list generated from the data included in the GitHub UKSI support files - so I'm updating that list.

All progressed well until script 35 when I got this error:

`35 -

[2019-07-31 15:27] burkmarr commented on #640
Have you got time for a short telephone conversation on this @kitenetter?

[2019-08-01 08:11] johnvanbreda commented on #638
@burkmarr - I guess the right way would be for the licensing module to include a login hook which adds a nagg message after you log in if there is no setting for the licence. I don't think I have any existing code to do this.

[2019-08-01 08:17] johnvanbreda commented on #626
* Add a "can delete any filter" permission parameter to the standard parameters control. Set this parameters' value to "indicia data admin"

[2019-08-01 08:22] johnvanbreda commented on #636
Cache_taxon_paths is a relatively new table so probably not handled by the script, hence the FK violation. I suspect the best thing to do is to update the taxon_meaning_id field in this table to map it to the new values (using the same approach as cache_taxon_searchterms on line 85).

[2019-08-01 08:24] johnvanbreda commented on #636
@burkmarr The uksi schema holds the tables which are imported from the CSV files you extracted from Access. It's basically just an interim store of the UKSI data and is only used during the import process (though can be handy for diagnosing issues after).

[2019-08-01 08:51] johnvanbreda commented on #638
You can hopefully use data_entry_helper::get_population_data to pull data out - there are plenty of examples if you search the code. This uses the views in the database (normally list_* or detail_* depending on the level of detail required) to access data in the tables. Views are used to join in info from other tables so the information is useful without multiple hits on the database.

In this cas

[2019-08-01 10:15] DavidRoy opened #641 "iNaturalist data - redeterminations over-written on reimport?"
https://www.brc.ac.uk/irecord/record-details?occurrence_id=9901039

Record 9901039 was automatically imported onto iRecord from iNaturalist. Three months ago the record was verified in iRecord following a redermination to a different species (Teleiodes luculella to T. vulgella).

Today, the verifier received notification that Admin Core changed the det. back to the original (incorrect identificati

[2019-08-01 11:53] johnvanbreda commented on #641
I think there are 2 things going on here:
1. The original decision on how the data flows (as discussed with @kitenetter) was that any changes on iNaturalist would overwrite the iRecord copy, thus resetting the verification state. This was then going to be reviewed. An alternative would be to "lock" records on iRecord once verified.
2. I think the problems in #633 mean that change tracking got brok

[2019-08-01 16:34] burkmarr commented on #638
Merge request: https://github.com/Indicia-Team/drupal-7-module-iform/pull/15

[2019-08-02 09:07] burkmarr commented on #636
@johnvanbreda - the `cache_taxon_paths` table doesn't have a `taxa_taxon_list_id` column, so I can't see how to use the same approach as the update of `cache_taxon_searchterms` (line 85).

[2019-08-02 10:10] burkmarr commented on #626
@johnvanbreda - there's an admin option parameter in report_filters.php that indicates if user is admin. I could pass this to JS via indiciaData and then enable the delete button if it is set. Does that sound like a reasonable approach?

[2019-08-05 08:45] kitenetter commented on #640
@burkmarr I'm now back in the office and wading through emails, happy to discuss this via phone call whenever is good for you. If these names are already in UKSI then it is reasonably straightforward to add them to iRecord and I'm happy to do that or for you to. But first job is to check if they are in UKSI, which I would normally do by searching at http://nbn-sd-dev.nhm.ac.uk/index.php

[2019-08-05 08:56] kitenetter commented on #587
@burkmarr if you have time to tackle this that would be great thanks - let me know when completed and I will inform the user.

[2019-08-05 09:31] kitenetter commented on #640
In fact only one of those new names is in the UKSI so the first step is to get Chris to add them to UKSI. But he may not be able to do that for the names that are not yet published, and will definitely need info on the authority for each name. I will liaise with Barry for the recording scheme.

[2019-08-05 10:13] burkmarr commented on #640
Linked to #636

[2019-08-05 11:21] burkmarr commented on #640
Once problems with UKSI update are sorted (#636) @burkmarr to touch base with @kitenetter to see if UKSI has been updated with these taxa and, if so, request new UKSI update (Access DB) from Chris before updated the main warehouse UKSI taxon list. If the taxa have not been included by that point we will proceed with the UKSI update and then add these taxa in manually via the Warehouse once Chris h

[2019-08-05 13:28] kitenetter opened #642 "Cheshire VC boundary not appearing in filter list"
I'm trying to set up a verification filter for Cheshire (VC58) but can't find it in the vice-county list via the filter settings.

[2019-08-05 13:49] kitenetter commented on #640
Chris Raper added the new names to UKSI today, and I've now imported them via the csv import into the warehouse. The import process is documented here:
W:\PYWELL_SHARED\Pywell Projects\BRC\_BRC_projects\iRecord\Procedures and guidance\PROCEDURE adding new species to the iRecord dictionary.docx

Some questions remain over how to deal with English names and synonyms, should they be required (which t

[2019-08-05 13:49] #640 closed

[2019-08-05 14:00] burkmarr commented on #587
@kitenetter. I think this is done now. Masquerading as first user (now with email set to that previously used by second user) now lists 895 records under explore my records. (For step 6 I changed the email using the admin account as I think would have had to supply password if I did it as the user.)

[2019-08-05 14:00] #587 closed

[2019-08-05 14:01] johnvanbreda commented on #642
I'd seen this error a couple of days ago so I've looked into it in case it was the same. It appears a handful of vice counties got moved into the ABLE website, possibly relating to the migration of data for ABLE. I've cleaned this up.

[2019-08-05 14:01] #642 closed

[2019-08-05 14:32] kitenetter commented on #642
@johnvanbreda thanks for that - no doubt you've already looked into this, but are there any implications for indexing of records against these boundaries during the period they went missing?

[2019-08-05 14:55] johnvanbreda commented on #642
@kitenetter, no, the indexer works for website-linked locations and public locations in the same way.

[2019-08-06 21:16] kitenetter opened #643 "Adding taxa outside the scope of a taxon-specific form"
I'm adding a list of moth records to the moth recording form:
https://www.brc.ac.uk/irecord/enter-moth-sightings

I want to include a few beetles and flies from the moth trap, alngside the moths. It looks like I ought to be able to do this via the filter button above the "Species" column, but even if I specifically choose beetles the beetle species name is not recognised:

![image](https://user-im

[2019-08-06 22:40] kitenetter opened #644 "Verification new page - photo filtering not working"
Reported by Stuart Roberts, replicated in my account: on the new verification page, if you select "Photos: Without", records with photos are being displayed alongside records without. In fact the "Without" filter looks like it is not having any affect at all.

[2019-08-06 23:28] kitenetter commented on #644
Various other things seem to have stopped working as well, including the ability to sort by chosen column heading, and the ability to use tick boxes to select multiple records. Is it useful to itemise such things or is this all part of the ongoing development of the new page?

[2019-08-07 10:34] johnvanbreda commented on #644
I've fixed the photos filter - I'd changed to a new way of storing media (so the licence data from iNat is kept alongside the photo) but forgotten to update this filter.
I can't reproduce any of the other problems you mention though - can I have more details (e.g. browser?).

[2019-08-07 10:44] kitenetter commented on #644
I can't reproduce the other problems using Chrome on my work computer this morning. Last night they arose when I was using Firefox on my home computer, Will check again this evening.

[2019-08-07 10:49] johnvanbreda commented on #643
I'm not sure this would ever have worked - the filter applied is additional to the filter configured for the page (i.e. moths) so you can't add different species.

[2019-08-07 10:52] johnvanbreda commented on #626
@burkmarr Yes, that does sound reasonable.

[2019-08-07 10:56] johnvanbreda commented on #636
@burkmarr The query on line 85 doesn't use taxa_taxon_list_id, it uses taxon_meaning_id (https://github.com/Indicia-Team/support_files/blob/master/UKSI/scripts/35%20-%20cleanup.sql#L85). So this should be OK shouldn't it?

[2019-08-07 10:59] kitenetter commented on #643
Is there any way in which the moth filter could be over-ridden for this form? One of the barriers for people filling in the moth form is that they may wish to record the occasional non-moth that arrives in the light-trap, and it would be great if this could be done via a single form.

I suppose the introduction of dynamic attributes may provide a more general solution, but if there was an easy way

[2019-08-07 11:25] johnvanbreda commented on #643
Yes, I'm sure that we could override the configured filter if the grid filter is used. I'll re-open and leave it to you to allocate to a milestone if a priority.

[2019-08-07 11:50] kitenetter commented on #644
Okay, I've now reproduced the problem, using Chrome on my work computer. It arises if I use the grid column settings tool to change the selection of columns displayed on the grid. Having made and saved my choices, the column head sorting options no longer work, and the tick boxes are not available.

[2019-08-07 12:24] johnvanbreda commented on #644
Ok - I'd spotted this bug separately yesterday whilst working on ABLE, so it's fixed in the develop branch of the code and will be deployed soon.

[2019-08-08 12:59] burkmarr commented on #636
@johnvanbreda  I'm still not getting this. It updates taxon_meaning_id from the value in the taxa_taxon_lists table where taxa_taxon_list key matches the value of taxa_taxon_list_id in cache_taxon_searchterms (and the values are not already the same). But I can't use this where clause with cache_taxon_paths. How else can I pick out the correct row?

`UPDATE cache_taxon_searchterms cts`
`SET taxon_

[2019-08-08 13:40] kitenetter opened #645 "UKSI - batch updates following the next full update"
Chris Raper at UKSI has proposed that following the next full update to UKSI, we import new names in batches on a regular update cycle. Periodic full updates (e.g. #636) will still be needed as the batch process will only deal with new names that have been added, and does not cover major cahanges to synonymy or full checklist updates.

I've been exploring the csv import process to bring new taxon

[2019-08-08 13:44] johnvanbreda commented on #636
Sorry, yes, you are right - my bad. Cache_taxon_searchterms is not such a good example then, but you could take one of the other tables (e.g. taxon_codes) as an example so you end up with something like:
[code]

[2019-08-08 13:54] burkmarr commented on #638
@johnvanbreda @BirenRathod - when this this merged into the dev branch I'll can update the and get @DavidRoy and @kitenetter to check it out.

[2019-08-08 14:51] burkmarr commented on #626
Okay this is good to go then. Merge requests created against dev for media and client_helpers:
https://github.com/Indicia-Team/media/pull/19
https://github.com/Indicia-Team/client_helpers/pull/90

[2019-08-08 16:30] burkmarr commented on #636
Thanks @johnvanbreda. Well I used that rather than something like it since I couldn't improve on it! First off it was falling over because of a key violation on cache_taxon_paths but I deleted the UKSI schema and ran it again and all the scripts went through.

Chris Raper is going to provide us with a new update shortly, so I will run through this all again with the new update and modified script

[2019-08-08 18:25] kitenetter commented on #634
This is continuing to cause concern for users importing records.

[2019-08-09 08:50] johnvanbreda commented on #634
I'll look into this now...

[2019-08-09 08:57] johnvanbreda commented on #634
@kitenetter can you obtain details of some of the records in Derek's import? If I can find them then the import guid will help with reallocation.

Do you have any files that replicate the problems with habitat mapping from the forum post?

[2019-08-09 08:59] DavidRoy commented on #634
Latest extensive post on some of the issues:
https://www.brc.ac.uk/irecord/node/7816

[2019-08-09 09:00] johnvanbreda commented on #634
Thanks. It may be worth posting a holding reply for Rob so he knows we are looking into this right now?

[2019-08-09 09:01] DavidRoy commented on #634
have done....

[2019-08-09 09:03] BirenRathod commented on #638
@burkmarr
I leave that to @johnvanbreda to release code on iRecord.

[2019-08-09 11:55] kitenetter commented on #634
@johnvanbreda I've run a query to find samples where created_by_id = 1 (= admin core) and there are an alarmingly high number of them. About 1,000 are attributed to Derek Whiteley, and these are listed in the attached file. Suspect there may be quite a few others that have ended up in the wrong account.

[records_for_user_Whiteley.xlsx](https://github.com/BiologicalRecordsCentre/iRecord/files/3486

[2019-08-09 11:59] DavidRoy commented on #634
Anything with an import_guid and linked to an admin account this year?  Would be good to summarise these by recorder name?

[2019-08-09 12:29] johnvanbreda commented on #634
I've fixed the problem with the record not being linked to the user account and will take a look at the data now - if there is an obvious way to relink it I'll do it.

[2019-08-09 13:21] kitenetter opened #646 "Elasticsearch verification page not loading"
We're currently getting an error message on the elasticsearch verification page:

![image](https://user-images.githubusercontent.com/16039111/62781896-e0339c80-bab0-11e9-862f-b4ac85deb316.png)

[2019-08-09 14:18] johnvanbreda commented on #634
I've now also fixed the problem with column mappings going out of sync. So any imports from now on should be OK.

[2019-08-09 15:55] #646 closed

[2019-08-09 17:43] johnvanbreda commented on #634
I've now fixed up the records imported by Derek Whiteley as well as 3 batches by Keith Porter.

To find other imports which may have been caused by this problem:
[code]

Once you've worked out the user_id to allocate to an import batch the following queries will reallocate the records:
[code]

[2019-08-11 10:32] kitenetter opened #647 "Photos not displaying following a record edit"
This applies to occurrence ID 11265704, which was originally added without photos and with the determination "Amphimallon solstitiale". The verifier suggested that it was more likely to be Amphimallon ochraceum, so I edited the taxon for the record and added three photos.

The photos are visible as thumbnails on my "My records" page:

![image](https://user-images.githubusercontent.com/16039111/628

[2019-08-11 20:13] kitenetter commented on #647
The photos are now displaying as normal on the occurrence page (11 hours after originally doing the edit), so was I just being impatient again? In any case all is well, closing.

[2019-08-11 20:13] #647 closed

[2019-08-12 15:24] johnvanbreda commented on #634
As this issue is fixed and I've updated the data to attach to the correct account where obvious, I'll close this but please re-open if there are cases where people need data re-allocated to their account.

[2019-08-12 16:35] burkmarr commented on #636
@johnvanbreda - Chris supplied a new database, but running through the update procedure again on my local warehouse with the new UKSI again gave this error in the script 35:

`
Error in script: ERROR: duplicate key value violates unique constraint "pk_cache_taxon_paths" DETAIL: Key (taxon_meaning_id, taxon_list_id)=(29572, 1) already exists.
`

Running through the SQL one command at a time in pgAd

[2019-08-13 06:51] DavidRoy commented on #639
Now resolved

[2019-08-13 06:51] #639 closed

[2019-08-13 06:56] DavidRoy commented on #635
Follow up request from recorder:
https://www.brc.ac.uk/irecord/node/7817#comment-5022

To investigate the issue, as admin I tried to re-save the user account, but then got an error message:
Error: unknown warehouse_user_id (138837)

@burkmarr can you pick this one up as the user can't see their records.

[2019-08-13 10:05] burkmarr commented on #636
@johnvanbreda - thanks for the info. Taking a step back I decided to create a new warehouse on my computer where I can just test the scripts out.

I installed latest warehouse by cloning master (and submodules recursively), configured it and ran update. I created an empty taxon list for the USKI. I took the unmodified UKSI scripts from the Indicia-support project but when I run them against this n

[2019-08-13 10:20] johnvanbreda commented on #636
Yes, the scripts do assume that the taxon_associations module is installed on the warehouse by adding to config.php and visiting /index.php/home/upgrade to add the database tables.

[2019-08-13 10:46] burkmarr commented on #636
Ah thanks. Also taxon_designation, species_alerts and a whole bunch of data_cleaner_* modules. We should probably update https://github.com/Indicia-Team/support_files/tree/master/UKSI/readme.md (referred to in the Indicia manual) to say that these modules should be enabled in order for the scripts to run.

[2019-08-13 11:26] johnvanbreda commented on #636
Agreed - are you OK to do this?

[2019-08-13 11:45] burkmarr commented on #636
Sure I can update the readme file. Is it okay for me to do that straight on GitHub?

Re your analysis a few posts back...

I had already noticed the deletions on tables that reference taxon_meaning_id and had added a similar operation for cache_taxon_paths but it didn't help, as you suspected. With respect to your proposed solution, do you mean replace this unsuccessful code:

[code]
with this:
[c

[2019-08-13 11:55] kitenetter opened #648 "Recorder league display sorting incorrectly"
It's been pointed out that our recorder league page (https://www.brc.ac.uk/irecord/recorder-league) is not sorting properly. On my computer, when I first go to the page it displays by descending order of number of records. However, if I then try to sort the list on either of the numeric columns it is incorrectly sorting as if they were text rather than integers.

Also, it's been reported that even

[2019-08-13 12:32] johnvanbreda commented on #636
Correct up to the final check and yes to updating on GitHub.

I think the final check is that the following returns 0:
[code]

[2019-08-13 12:38] burkmarr commented on #636
Yes I just spotted my mistake in that final check! I ran on my local warehouse updating from uksi distributed in support files to the most recent supplied by Chris. Scripts went through okay but the check query reports over 125000 in taxon_taxon_lists without corresponding record in cache_taxon_paths.

[2019-08-13 13:24] burkmarr commented on #636
@johnvanbreda Here is some output generated by the import-uksi-helper.php:
[code]
So the 'Taxon paths' update in cache_builder was called okay and clearly did *some* work. I'm looking at $config['taxa_taxon_lists']['extra_multi_record_updates'] from cahce_builder.php but it is very complicated and I'm struggling to see the wood from the trees.

[2019-08-13 13:44] kitenetter commented on #634
I can find 47 imports that need to be reassigned (although I'm waiting to get confirmation from four users before proceeding), and have tracked down the intended user accounts. I have the queries set up to to the updates, but that needs database editing permissions - can you take this on @burkmarr please?

Let me know if you want the info for ones that can be done now, or if you would prefer to wa

[2019-08-13 13:46] johnvanbreda commented on #636
If you are running the scripts via the PHP command line then the import_uksi_helper.php file will indeed run the extra_multi_record_updates query you've correctly identified. The problem is likely to stem from the fact that this query is modified to join to uksi.changed_taxa_taxon_list_ids so that only changed IDs get updated. Presumably at this point the contents of this table don't cover all the

[2019-08-13 14:39] burkmarr commented on #635
As the error suggested, the Warehouse ID stored against the user's account in iRecord - 138837 - did not correspond to a user in the Warehouse.

I searched on the user's name in the Warehouse (http://warehouse1.indicia.org.uk/index.php/user). A different number was registered against the user - 71832. (By checking the linked Person account and looking at the email I could see this was the right pe

[2019-08-13 14:49] burkmarr commented on #635
@DavidRoy - can you throw any light on the record referenced above and in the forum thread:
http://warehouse1.indicia.org.uk/index.php/occurrence/edit/10641696
https://www.brc.ac.uk/irecord/record-details?occurrence_id=10641696
It's not the record in question. Was that just a mistake or is something very odd going on?

[2019-08-13 15:13] DavidRoy commented on #635
@burkmarr thanks for resolving this.  I can't remember how I ended up at that record ID.  I can't locate the right record either - possibly
https://www.brc.ac.uk/irecord/record-details?occurrence_id=11014888

I suspect it will be hard to track down the source of the original issue (problem with the EasyLogin module?) and is not worth too much effort.

[2019-08-13 21:05] kitenetter commented on #552
I'm finding that the additional attributes are failing to appear on a regular basis, on the new verification page, using Firefox. Tonight this has mostly been happening following a verification decision - the verified record is removed from view, so the nest record in the grid moves into focus, but its attributes do not get displayed (even if I wait for a long time):

![image](https://user-images.

[2019-08-13 21:20] kitenetter commented on #552
Additional observation: there seems to be some interaction with the thumbnail images. If I click on a record in the grid and the attributes are displaying, and I then click on a thumbnail to look at an image for that observation, when I close the image window the attributes get removed from view.

Not sure if that is happening every time but it is happening a lot.

[2019-08-13 21:53] kitenetter commented on #550
The priority is to get the redet button working on the new page in the same way as it does on the old. However, we have also been asked if it is possible to implement redets as a bulk operation for multiple records, in the same way as the verification buttons can be applied to multiple records.

I'm raising this here in case it is something that can be easily done when setting up the redet button,

[2019-08-14 07:40] burkmarr commented on #634
Hi @kitenetter. Send me the ones that need doing now. I'm off next week so will do what I can before I go.

[2019-08-14 08:19] burkmarr commented on #635
I don't think that's the record either @DavidRoy. Anyway, I have asked for more information via the iRecord forum. Will leave this open for now.

In the meantime, can anyone help me with the following conundrum?

On Warehouse:
- I log into the live warehouse
- I go to occurrences and filter on 'Sympetrum fonscolombii'
- I sort by date
- I can see **four records** dated 03/07/2019

On iRecord:
- I

[2019-08-14 08:44] kitenetter commented on #634
@burkmarr have sent spreadsheet

[2019-08-14 08:51] kitenetter opened #649 "Question about photo upload process and re-sizing"
We have an enquiry about the size of photo that can be uploaded without triggering any automated re-sizing. Is there any existing documentation about file sizes and how the re-sizing process works?

[2019-08-14 08:52] kitenetter commented on #493
Drag and drop now implemented on site. Closing.

[2019-08-14 08:52] #493 closed

[2019-08-14 09:05] burkmarr commented on #636
@johnvanbreda - same result I'm afraid. _However_ - I've just run the check query on a clean UKSI (from current distribution in support files) and the query returns 248,000 rows, so perhaps the query isn't working the way you expected?
[code]

[2019-08-14 09:10] burkmarr commented on #636
Okay that's because the cache_taxon_paths was empty when I ran the query so I probably need to build the cache?

[2019-08-14 09:19] #552 closed

[2019-08-14 09:23] johnvanbreda commented on #552
I've found a possible cause and fixed it, although it only occurred for me after changing context. Please re-open if you see it again.

[2019-08-14 09:24] burkmarr commented on #636
I do get zero on original DB after forcing a cache rebuild.

[2019-08-14 09:31] burkmarr commented on #636
@johnvanbreda The check query resulted in 518 now after these steps:

1. Start with a clean USKI (as distributed in support files)
2. Force complete cache rebuild
3. Run update scripts with modified delete query and latest data from Chris

[2019-08-14 09:44] johnvanbreda commented on #635
@burkmarr the views on the warehouse are pretty basic, i.e. picking up only the taxon name as recorded, not the accepted name. In this case, 5 of the records were put in as Red-veined Darter so won't appear.
The occurrences view in the Warehouse would ideally be replaced by an "Explore" style page with filter, but I'm not sure it's a priority.

[2019-08-14 10:13] burkmarr commented on #635
Thanks John it's good to understand why the discrepancy.

[2019-08-14 14:01] burkmarr commented on #634
@kitenetter - all updates have been run except those in the first four rows as you specified. Let me know when you are ready for those to be run.

[2019-08-14 14:11] kitenetter commented on #634
Excellent, thanks @burkmarr

[2019-08-14 15:24] burkmarr commented on #636
@johnvanbreda - I think I found the problem. I listed those 518 records from taxa_taxon_lists and they all had their deleted flag set. So I guess that the check query should be:
[code]
Which does produce a result of 0.

I also found that the result was the same regardless of the two delete queries I used.

Are you happy for me to proceed on to running the modified scripts on the dev server with th

[2019-08-15 12:17] kitenetter commented on #603
@burkmarr I've just been setting up a verification filter that needs to include Eire but it isn't appearing in the countries list for the 'Where' filter.

[2019-08-15 12:35] kitenetter opened #650 "Question: marking a taxon as not for data entry"
An issue has arisen over a leafhopper species that is marked as a good name in the UKSI but is not a UK species, and is being used erroneously to record leafhoppers.

I will liaise with Chris to have the species status changed in UKSI, but in the meantime I think I can deal with this situation in iRecord by simply marking this taxon as "not for data entry".

Is that all I need to do or are there a

[2019-08-15 12:40] kitenetter commented on #650
I see that the vernacular name for this same taxon (Aphrophora gelida) came up before in #609 and the solution to that involved running an update SQL on the warehouse.

Is the update SQL approach required, or can I do this through the online warehouse interface?

[2019-08-15 14:55] burkmarr commented on #603
I'm at a loss to explain this. I'm sure it was there when I closed this issue. The form uses the location type code 2188 to specify country locations. The screenshots below shows that Eire belongs to this type:

![iss-countries-type](https://user-images.githubusercontent.com/9275178/63102817-bb896a00-bf73-11e9-99c2-a5dc9921206e.PNG)
![iss-countries](https://user-images.githubusercontent.com/927517

[2019-08-15 15:45] johnvanbreda commented on #603
The Eire location was linked to the ABLE website (ID 118) so not publically available. I removed the appropriate locations_websites join record and it now appears.

[2019-08-15 15:48] johnvanbreda commented on #650
@kitenetter Just unsetting allow_data_entry via the user interface should work fine - it will take a short while to ripple through before it is removed from the search index.

[2019-08-15 15:51] johnvanbreda commented on #636
@burkmarr Ok - good, filtering out deleted does make sense. Yes, I'm happy for you to run this on the dev server - probably just worth making sure that there was a backup last night or thereabouts, as I know sometimes Andy has configuration in development on that server he wouldn't want to lose.

[2019-08-15 16:20] johnvanbreda commented on #649
@kitenetter - it's just a configuration option for the max width and height. Search for resize on this page: https://indicia-docs.readthedocs.io/en/stable/site-building/instant-indicia/example-setups/irecord-walkthrough/form-structure.html.

Most (or all) forms are set to 1500x1500 I think.

[2019-08-15 18:23] kitenetter commented on #602
@burkmarr have tried this out on the dev iRecord and it is looking good. At the moment Wales appears to be duplicated - there are two apparently identical boundaries labelled "Wales" and "Wales Territorial Waters".

I will forward a screenshot to MBA to see if they have any comments before we go live.

[2019-08-16 07:50] DavidRoy opened #651 "Records not appearing on user's my-records report"
https://www.brc.ac.uk/irecord/node/7820

may be the same issue as reported elsewhere? #639.

I've asked for more details to hopefully track down the source of the issue

[2019-08-16 08:02] burkmarr commented on #603
@johnvanbreda - thank you.

[2019-08-16 08:02] #603 closed

[2019-08-16 08:30] burkmarr commented on #602
That was a mistake - 'Wales Territorial Waters' is deleted now. If you prefer the names to have 'Territorial Waters' in them, we can do that when I upload them to live Warehouse.

[2019-08-16 08:33] burkmarr commented on #636
@BirenRathod - see above comment from John. Is there a recent dev server backup? If so I will go ahead and try the update UKSI today if you are around to help with the restore if something should go wrong.

[2019-08-16 08:43] burkmarr commented on #636
@BirenRathod - the USKI update guidance (https://github.com/Indicia-Team/support_files/tree/master/UKSI) also says:

Are you okay to do that? If you can't do this today, lets get a date in the diary. I am away next week so perhaps we could arrange something for the week after.

[2019-08-16 08:53] burkmarr commented on #635
Closing issue after discussion with user on Forum. Will open a new issue if there are further problems submitting records.

[2019-08-16 08:53] #635 closed

[2019-08-16 08:57] kitenetter commented on #650
Done, closing.

[2019-08-16 08:57] #650 closed

[2019-08-16 10:17] burkmarr commented on #651
I can't see what's going on here. User's Warehouse ID looks okay but there are only records from 2017 linked to that user.

I re-ran query from @johnvanbreda (https://github.com/BiologicalRecordsCentre/iRecord/issues/634) to see if this might be a user affected by import issue, but that doesn't appear to be it (besides I think we know about all of these now and the cause of that problem has been a

[2019-08-16 10:27] DavidRoy commented on #651
It looks like the recorder has been entering data when not logged in?  See:
https://www.brc.ac.uk/irecord/record-details?occurrence_id=11479578

I'll ask via the forum

[2019-08-16 10:31] burkmarr commented on #651
I'd forgotten that was a possibility.

[2019-08-16 11:10] DavidRoy opened #652 "Add Bamboo Longhorn as new taxa to UKSI"
Added using the warehouse interface, based on details supplied by Chris Raper

parent TVK NHMSYS0021196882
Chlorophorus annularis (Fabricius, 1787)
tvk NHMSYS0021238169
Bamboo Longhorn
tvk NHMSYS0021238175

[2019-08-16 11:11] #652 closed

[2019-08-16 12:16] burkmarr commented on #651
@kitenetter @johnvanbreda  Presumably this must be something that happens from time to time? Does the following SQL look okay to sort this out on the occurrences and cache_occurrences_functional tables?

[code]

[2019-08-16 14:29] burkmarr commented on #624
@kitenetter I had a chance to look at this on iRecord Dev today. I wondered if the two users might have been pointing to a location which was subsequently deleted. I checked the Drupal DB and they were both pointing to location id 693. When I looked at the Warehouse website, this turned out to be VC Cheshire. When I looked in the drop-down locations list on their iRecord account pages, Cheshire wa

[2019-08-16 14:29] #624 closed

[2019-08-16 19:06] burkmarr commented on #629
Fixed and merge request on dev branch made.

[2019-08-16 20:47] kitenetter opened #653 "DIfficulty adding photos following csv upload"
Reported by a user - ideally it would be good to enable photos to be added to individual records following upload:

I batch uploaded 24 Larger Brachycera records successfully and then I wanted to add a habitat photo to the Spania nigra record which I did successfully (note: successful because it was the only record for that date and place). I then tried to add photos to the Tabanus autumnalis reco

[2019-08-18 15:14] johnvanbreda commented on #651
Yes, the SQL looks good, but I would write a similar SELECT query to eyeball the data first just to make sure, e.g. if there are any that are not from a similar region or date range they might be from a different user.

[2019-08-23 10:22] MNSmith opened #654 "Elastisearch - Verification Column selection"

[2019-08-23 10:30] MNSmith commented on #654
When using Elastisearch and selection what columns to view, the default setting Column 1 (Icon showing record verification status and sensitivity) does not display.  Deselection this column from the "display list" has no effect on the view of the grid - they is still just a "blank colum" displayed in its place occupying space in the grid.   Could this be down to this column having "no heading" rat

[2019-08-23 10:37] MNSmith commented on #597
If I could ask about this again please, it would be helpful if AH could be verified via an Elastisearch page.

[2019-08-26 20:08] kitenetter opened #655 "Activities not linking correctly to locations"
This was reported to me in relation to two activities, "Berkshire moths" and "Upper Thames Butterflies". The former was originally set up with a VC22 boundary as part of its filter, the latter probably used the appropriate BC branch boundary. However, if you try to add a record to either of these activities, the map box is initially completely blank. If you click on the blank map it does show a ba

[2019-08-28 06:44] DavidRoy opened #656 "Records not linked to Vice-counties"
Reported via iRecord forum, user = MikeF, reports...

I have a few records that are on the border of the Vice Counties of Surrey and East Sussex. They should all be in East Sussex, but if a Vice County filter is applied they appear in neither county. As a result verifiers do not see them. My records are 11515539, 11514788, 11514696, 11514676, 11514631. They are all now in West Sussex administrativ

[2019-08-28 08:21] burkmarr commented on #651
I've run the queries and all appears okay. Have informed the user by the iRecord forum thread.

[2019-08-28 08:21] #651 closed

[2019-08-28 08:49] kitenetter commented on #656
The only slightly unusual thing I can see about these records is that they have been entered using 10-figure grid references. Does that cause problems for our boundary indexing (can't see why it should)?

[2019-08-28 11:43] burkmarr commented on #656
Doesn't seem to be due to bad geometry or anything like that. The query below in pgAdmin works fine - indicating that the records are all within East Sussex as the user says.
[code]
![image](https://user-images.githubusercontent.com/9275178/63852877-38afd880-c991-11e9-812b-6da9fa54a066.png)

[2019-08-28 11:48] burkmarr commented on #656
I'll see if I can check the indexing.

[2019-08-28 13:08] burkmarr commented on #656
None of those records correspond to samples that are in index_locations_samples:
[code]
![image](https://user-images.githubusercontent.com/9275178/63858285-2471d880-c99d-11e9-94ec-c18fc6dd38a3.png)

Could this be related to https://github.com/Indicia-Team/warehouse/issues/329?

[2019-08-28 13:24] kitenetter commented on #507
**ID difficulty:**
I do think that we should split out the notifications over-ride from the verification flag, which shouldn't be over-ridden. Will raise a new issue for this.

**Phenology:**
I feel that allowing a record to be unflagged if it is within seven days of an accepted record is too wide a date range, and I would propose that we reduce this to three days. I think we should only start ove

[2019-08-28 13:29] kitenetter opened #657 "Change behaviour of ruleset over-ride for ID difficulty"
The approach currently taken is that if a given iRecord user account has had a species record accepted at least once, then that species is no longer flagged as being hard to ID for that user. The user will no longer receive notifications, and records of that species from that user will no longer get flagged to the verifier as having failed the ID rule. This is documented in the code, at line 65 he

[2019-08-28 13:37] kitenetter opened #658 "Record cleaner rules not getting updated when taxonomy changes"
Following a query about how butterfly rules are applied, it appears that the rules are not always being applied where a species name has changed since the rules where defined. This has implications for recorders and verifiers, and since the examples so far found are for butterflies it also has implications for auto-verification of UKBMS records.

The example is Small Pearl-bordered Fritillary, _Bo

[2019-08-28 14:01] kitenetter opened #659 "Record cleaner distribution rules duplicated for butterflies"
For at least some butterflies, two sets of distribution rules are being applied, e.g.:

![image](https://user-images.githubusercontent.com/16039111/63862152-03f94c80-c9a4-11e9-913b-beac8bd114e2.png)

This appears to stem from the fact that iRecord contains a set of distribution rules for butterflies, and another set for "moths", but the moths set includes all Lepidoptera. The list of 10km squares

[2019-08-28 14:46] johnvanbreda commented on #656
@burkmarr index_locations_samples is, confusingly, a deprecated table and not longer being updated. It was just left in place after the v2 upgrade to allow time for reports to be updated to the new method (cache_occurrences_functional.location_ids). I guess we should review and remove it now at some point.

This query shows that 1 of the records has now been successfully indexed to both East Susse

[2019-08-28 14:49] johnvanbreda commented on #659
@kitenetter Yes, I would vote for comparing the rulesets to determine which is most up to date and removing the other.

[2019-08-28 14:58] johnvanbreda commented on #507
@kitenetter I think it depends on whether you come with the mindset of a user who feels the rules are useful and would rather the occasional false rule notification than to miss out on some, vs another user who feels the rules are a waste of time and certainly doesn't want any erroneous notifications. Another thought - rather than reducing to 3 days, we could leave it at 7 days but only remove the

[2019-08-28 15:10] kitenetter commented on #507
@johnvanbreda my mindset is of a verifier who likes to be able to bulk verify species that pass the rules, and therefore gets nervous when the rules may not be sufficiently rigorous!

My worry was that one or two outliers might appear in exceptional weather, and be correctly flagged as accepted records, and then this would lead to potentially incorrect records slipping through once the weather rev

[2019-08-28 15:27] #631 closed

[2019-08-28 16:08] kitenetter commented on #626
I'm not sure how close we are to being able to resolve this on the live site, but in the meantime please can I request the deletion of this reporting filter:
https://www.brc.ac.uk/irecord/filters/admin-edit?filters_user_id=2131

I assigned it to the "iRecord support" account in order to remove it from someone else's account, but having done that it is restricting my view of records when I'm logged

[2019-08-28 16:23] johnvanbreda commented on #658
I think the best way to handle this is a script which finds rules linked to non-preferred TVKs, then converts them to use the preferred TVKs. This could be run on an ad-hoc basis (e.g. after a UKSI import).

[2019-08-28 22:37] kitenetter commented on #298
The choice between Correct and Considered correct for bulk verification seems to be working as expected today, closing.

[2019-08-28 22:37] #298 closed

[2019-08-29 07:48] burkmarr commented on #656
Thanks for correcting my misunderstanding John - I'll look at it a bit more this morning.

[2019-08-29 08:09] burkmarr commented on #507
When I verify spider records I tend to completely ignore the phenology and range flags because they are triggered so often. That may just be a function of the spider rulesets being out of date. But the kind of tweaks suggested seem sensible to me. I've no strong feelings about days vs numbers.

[2019-08-29 08:23] burkmarr commented on #626
I've deleted the troublesome filter @kitenetter.

[2019-08-29 10:44] burkmarr commented on #656
@johnvanbreda can you check my undestanding?

I ran this query to see how many occurrences are not indexed against any locations (and not pending indexing):
[code]
There are 25,791. Listing the records I noticed that a lot of them had iNaturalist external keys, so I counted those and they account for 18,161 of them. The remaining 7,630 were entered via many different input_forms (over 90 different

[2019-08-29 12:15] kitenetter opened #660 "Request to edit uploaded records"
A number of users are uploading csv files as part of a BENHS project to assist with identifying bycatch from the Rothamsted Light-trap Network, but there have been some inconsistencies in how this has been done that they would like to iron out.

There are three updates requested, and I think the first of these is reasonably straightforward:

**Assign 24 records uploaded by Jon Cole to activity "Ro

[2019-08-29 13:20] kitenetter opened #661 "Help needed with PoMS data entry form"
We have a form set up to allow entry of data from the PoMS 1km square surveys - this form is only available to members of the activity "1km square survey - pan-traps":
https://www.brc.ac.uk/irecord/poms-1km-pan?group_id=1073&implicit=f

Edit version of same form:
https://www.brc.ac.uk/irecord/node/7107/edit

The form allows locations to be selected, from a list held in the locations table with loc

[2019-08-29 16:11] kitenetter opened #662 "Clarify notifications following a redetermination"
Currently, if a verifier redetermines a record, the original recorder will be sent a notification of the comment associated with the redet, but there is nothing to make it clear that a redetermination has taken place, and that therefore no further response is required from the original recorder.

Not sure how best this would be done, but it would be good to let people know that a redet has taken p

[2019-08-29 16:24] kitenetter opened #663 "Enable deletion of user's own records 1: via Explore page"
Issue extracted from #163

On Explore my records, at the bottom of the grid, add a button "Select multiple records". When pressed, tickboxes appear in the grid by each record ID. When some are ticked, all ticked records will highlight on the map and a "delete ticked records" option is available.

Ideally add a facility to tick all records on current page, rather than having to tick each one indivi

[2019-08-29 16:27] kitenetter opened #664 "Enable deletion of user's own records 2: deletion of an imported set of records"
Extracted from #163

Enable deletion of a set of records from a particular csv file import.
- Add a page listing "my imports" (with the imported on date, number of records, link to view the records in an Explore page).
- Add an option to delete an import along with it's records.

[2019-08-29 16:37] kitenetter opened #665 "Vernacular names: only allow data entry for those flagged as "accepted name""
This arose as a side-issue from #163 and relates to #636

The multiplicity of vernacular names in the UKSI can cause problems, e.g. a record imported as "Emperor" gets linked to the moth rather than the dragonfly, but "Emperor" is flagged in UKSI as a "junior synonym" (http://nbn-sd-dev.nhm.ac.uk/taxon.php?linkKey=NBNSYS0000166745) while "Emperor Moth" is flagged as "accepted name" (http://nbn-sd-

[2019-08-29 16:39] kitenetter commented on #663
Not sure if this is related (was linked under #163):
https://github.com/Indicia-Team/client_helpers/commit/73dd0675a273e4a6d491c0fb9261cf2d33185fa9

[2019-08-29 16:39] kitenetter commented on #664
Not sure if this is related (was linked under #163):
https://github.com/Indicia-Team/client_helpers/commit/73dd0675a273e4a6d491c0fb9261cf2d33185fa9

[2019-08-29 16:40] kitenetter commented on #163
Three new issues extracted, closing this one.

[2019-08-29 16:40] #163 closed

[2019-08-29 16:45] kitenetter commented on #386
Filter settings are sufficient to deal with the exclusion of queried records, and this is being done where relevant. Closing.

[2019-08-29 16:45] #386 closed

[2019-08-29 16:57] kitenetter commented on #548
No further issues, closing.

[2019-08-29 16:57] #548 closed

[2019-08-30 08:55] johnvanbreda commented on #656
@burkmar thanks for the analysis. I wonder if there is a problem with the iNaturalist import? This does use ORM to post records so it ought to fire the hooks to generate work queue entries. Having said that, as it seems to have worked for most of the records this might be related to a one-off problem.

Of the remaining 7000+ records, a good many might be from outside the indexed area as iRecord do

[2019-08-30 09:26] burkmarr commented on #660
@kitenetter - my understanding of the data model is still 'evolving' but the updates look okay to me. I think it would be wise for @johnvanbreda to cast his eye over them in case he spots some implications we've missed.

I'll go ahead and run when he's had a look.

Based on the logic in the fifth update, I think this would work for the third rather than listing the sample IDs in the query? A simil

[2019-08-30 10:50] burkmarr commented on #661
@kitenetter - I've found the root of the problem, but not the answer.  The SQL query which populates that list will only return locations that have an entry in Warehouse groups_locations table that associates the locations to groups (in this case groups 1071 - PoMS targeted surveys or 1073 - 1km square survey - pan-traps).

The two locations you created are not listed in the groups_locations table

[2019-08-30 11:06] kitenetter commented on #661
Thanks @burkmarr - that has done the trick in that it has triggered my lousy memory to recall that there is an option to "Manage 1km squares" with the hierarchy for the PoMS activities. I've now added the two missing squares via that route and they are appearing correctly. Should have been able to sort that out for myself but thanks for getting me there in the end! Closing.

[2019-08-30 11:06] #661 closed

[2019-08-30 13:16] burkmarr commented on #656
The records originally by MikeF are now indexed against East Sussex - I have updated the forum thread. I have added the unindexed samples to work_queue which I did like this:
[code]
Today there were 22,323 such indexed samples - an increase of 142 since I counted them yesterday. Unless those 142 are all outside any indexed locations, then there may be some ongoing problem which we need to keep an

[2019-08-30 13:16] #656 closed

[2019-08-30 14:07] kitenetter opened #666 "Redet does not work with multiple tick boxes"
On the old verification page, when using the "Review tick list" option, it appears that you should be able to apply a "redet" operation to multiple records when more than one has been ticked:

![image](https://user-images.githubusercontent.com/16039111/64026969-b01f6c80-cb37-11e9-800d-85187b1ef20e.png)

However, in fact an attempt to do a multiple redet only results in the last of the ticked recor

[2019-08-30 21:14] kitenetter commented on #659
Okay, so the situation is:
- The "moths" distribution ruleset includes a wider range of butterfly species, but all the 'extras' are migratory species that don't have a relevant native range
- The "butterflies" distribution ruleset has fewer species, but curiously does include a number of resident and regular migrant species that are missed out of the "moths" ruleset (e.g. Red Admiral and Painted L

[2019-08-30 21:28] kitenetter opened #667 "Small correction to verification rules"
In table verification_rule_metadata, the row with id 36653 has an incorrect taxon version key.

Update query to be run:
[code]

(The table currently gives the tvk value incorrectly as 'NHMSYS00173330')

Do we also need to run update sql for the attributes updated_on and updated_by or does the system do that anyway?

[2019-08-31 08:06] DavidRoy opened #668 "iRecord search not useful?"
Further to a forum post:
https://www.brc.ac.uk/irecord/node/7831

Options are either:
1. remove the search option
2. put some work into making the search work

[2019-09-02 09:13] burkmarr commented on #668
I think there's a few things going on here.

The search box is a Drupal feature to look for Drual pages (nodes) that include the search text. But from some of the searches the user describes, I wonder if they are are under the impression that they can search for taxon records using it, which they can't.

I don't know why the search on 'iSpot' returns the result it does. The 'not logged in' message

[2019-09-02 09:27] burkmarr commented on #667
Hi Martin. I think you can do it through the Warehouse - in which case the updated_on etc attributes are done for you. I got the species name and rule type from the DB using your verification_rule_metadata id and then just went to admin > verification rules on the warehouse, filtered on the taxon name and clicked edit on the relevant rule. That takes you here:

http://warehouse1.indicia.org.uk/ind

[2019-09-02 11:33] sacrevert opened #669 "Ordering of species within drop-down menu"
At the moment the ordering is not sensible. Hybrids frequently appear before a species, leading to data entry errors. For example, Rumex obtusifolius appears 9th in the list after 8 other hybrids, even after typing the full name. Martin Harvey and I are in agreement that some sort of weighting would be desirable, such that species always appear before hybrids, genera and infraspecific taxa.

(Assi

[2019-09-02 12:46] johnvanbreda commented on #668
@burkmarr I suspect the issue here is actually similar for both errors. Drupal is trying to request the teaser and Indicia is just handling this as a standard page build request, so doing too much work. It may, for example, trigger the permissions check for a group related form (hence access denied errors), or render controls (hence the JS).
Fixing in iRecord may not be too hard - there is a metho

[2019-09-02 13:11] #644 closed

[2019-09-02 13:18] johnvanbreda commented on #637
@kitenetter to specify some test scenarios to set up on test version of iRecord.

[2019-09-02 13:39] DavidRoy commented on #477
@johnvanbreda to provide SQL to export larger datasets by hand.
@kitenetter to export

[2019-09-02 14:03] DavidRoy commented on #669
liked to #636
@burkmarr can you review this as an option linked to the UKSI update scheduled for September?

[2019-09-02 15:13] kitenetter commented on #451
@johnvanbreda I think this can be closed?

[2019-09-02 15:15] kitenetter commented on #453
@johnvanbreda this one has been raised again by a couple of verifiers recently, is it worth investigating or shall we leave it to get wrapped up in the work on the new verification page?

[2019-09-02 15:51] kitenetter commented on #625
This bug continues to cause problems. Another example is a batch of records from 11480179 to 11480522 that were entered on 14 Aug and deleted on 20 Aug (I think) but which are still displaying as records to be verified in the new verification page.

[2019-09-02 16:28] johnvanbreda commented on #451
Agreed.

[2019-09-02 16:28] #451 closed

[2019-09-02 20:52] johnvanbreda commented on #660
Rather than worry about getting all the correct cache fields updated (including attrs_json which is missed), you can get the work queue to do the updates for you. When there are occurrences to update you can:
[code]
Or, for samples:
[code]

[2019-09-03 09:33] sacrevert commented on #669
Thanks @DavidRoy @burkmarr
I am convinced that this is currently the biggest problem for data quality within the NPMS. I've just spent 2 days going through the data making corrections, a large proportion of which are caused by this issue. Similarly there are issues with genus-level data as well, where people search for a common name (e.g. Agrimony), and then select the first hit in the dropdown, w

[2019-09-03 10:03] #598 closed

[2019-09-03 10:05] johnvanbreda commented on #580
Also see #638.

[2019-09-03 12:35] #629 closed

[2019-09-03 12:38] johnvanbreda commented on #626
@burkmarr I've applied this to live - does it need any configuration before this can be closed?

[2019-09-03 12:43] burkmarr commented on #626
No I think it should be ready to use. Can you confirm that you can now do what you need @kitenetter ?

[2019-09-03 12:43] #626 closed

[2019-09-03 13:09] kitenetter commented on #626
@burkmarr yes, the delete option is now available to me - thanks.

[2019-09-03 14:20] burkmarr commented on #669
Turns out a major part of this is due to a bug - i.e. it's not currently working as designed. It looks like a good deal of thought has gone into the sort order, but it's using some regular expressions which are case sensitive and not working. Perhaps they did work with an earlier version of Postgres.

The file is warehouse\application\helpers\postgreSQL.php and the lines in question are these:

[c

[2019-09-03 14:27] kitenetter commented on #669
@burkmarr I would support fixing the bug and then reviewing the nuances.

Will this also change the behaviour when entering via vernacular names. For example, at the moment if you type in the moth Ruby Tiger you get offered a subspecies first, and I think it should be binomial first:

![image](https://user-images.githubusercontent.com/16039111/64181933-423cb300-ce5f-11e9-8aa3-96270b4fb8fe.png)

[2019-09-03 14:34] burkmarr commented on #669
Apparently yes! (I wish I could say that I knew it would before I tried it!)
![image](https://user-images.githubusercontent.com/9275178/64182545-4cab7c80-ce60-11e9-8e2e-9a1b110c56a7.png)

[2019-09-03 14:41] japonicus commented on #669
@burkmarr the first regular expression already has the case insensitive 'i' flag, so lower() shouldn't be needed. 'i' is missing from the second test, possibly adding it would solve the problem slightly more efficiently than using lower(). e.g.

[code]

[2019-09-03 14:50] burkmarr commented on #669
Good shout @japonicus - I'll give it a go.

[2019-09-03 14:54] burkmarr commented on #669
That worked @japonicus. I guess it was there originally and went AWOL somewhere along the way. I agree it's better than using lower().

[2019-09-03 14:58] sacrevert commented on #669
Thanks @burkmarr
With respect to the genus level issue, in the context of the NPMS, this was mainly a concern when searching common names, not when searching the scientific name. I agree that 'Rumex' is the best top hit when searching the genus only.

[2019-09-03 14:58] burkmarr commented on #660
Thanks @johnvanbreda - that's useful. Shall I go ahead with this then @kitenetter, using John's suggestion to update the cache tables via work queue?

[2019-09-03 15:01] kitenetter commented on #660
Sounds good to me @burkmarr - thanks.

[2019-09-03 15:03] johnvanbreda commented on #669
@burkmarr shall I hotfix this using @japonicus' solution?

[2019-09-03 15:04] burkmarr commented on #669
That would be great @johnvanbreda.

[2019-09-03 15:08] #669 closed

[2019-09-03 15:11] johnvanbreda commented on #669
Done. Thanks @burkmarr and @japonicus.

[2019-09-03 15:15] johnvanbreda commented on #660
Just bear in mind that due to switching on a new summary builder for UKBMS, the work queue is way behind today, so it might take a day or two to come through.

[2019-09-03 15:17] burkmarr commented on #669
Looks like the Ruby Tiger problem is still there @kitenetter . Probably just coincidence that I didn't see it on my local setup (I have a different version of the UKSI). It's one that we should revisit in the context of a wider discussion about search list ordering and produce a new issue off the back of that.

[2019-09-03 15:36] johnvanbreda commented on #669
@burkmar the trick here will be to use cts.taxon_rank_sort_order to inject some notion of preference for species level taxa into the sort order. Currently because the sort order is based on the searched name and Ruby Tiger appears twice, the order is indeterminate which may be why you thought it was OK. If you add the following to the sort order (perhaps just before the final alpha sort) then it w

[2019-09-03 16:40] burkmarr commented on #660
@kitenetter. Here's a summary of the SQL. In fact the first query was wrong because group_id is in the samples table, not occurrences, so I had to update the corresponding sample records. The corresponding cache builder inserts to the work queue for these samples will also update the associated occurrences.

In fact the samples affected by the last two updates were the same, so I only had to enter

[2019-09-03 16:40] #660 closed

[2019-09-03 22:07] MNSmith commented on #654
A small update to this bug.  If this Column 1 is not selected then the ability to use "tick boxes" for multiple verifications doers not appear, presumeably because this feature is attached to "Column 1".  Needs to be separated.

[2019-09-04 08:10] burkmarr commented on #669
Thanks John that's useful and would sort out the Ruby Tiger issue. I can't spot any down-sides to it as long as it comes down the order of precedence as you've suggested.

I think that we need to take a hollistic view to this before doing much work on it because there is a danger that fixing problems for one use case could just create problems in others. Now that the bug is fixed - which I hope sh

[2019-09-04 08:52] burkmarr commented on #636
I've emailed Chris Raper to see if there are any significant updates to UKSI since he last supplied a couple of weeks ago. Hopefully once I hear from Chris I'll be ready to schedule a date for the update on the Dev Warehouse this week.

As well as making sure the database is backed up, the documentation (https://github.com/Indicia-Team/support_files/tree/master/UKSI) says:

Are you able to take ca

[2019-09-04 20:15] johnvanbreda commented on #636
Yes, it's better if iRecord is in maintenance mode. In theory it should stay functional while the updates are being applied but that I would rather reduce the risk.
I'll send you Gary's email.

[2019-09-05 08:33] BirenRathod commented on #636
@burkmarr
I have scheduled the warehouse backup and you can find backup file here -> D:\Indicia_backup\scheduled.
Also, I'm asure you that schedule_task is running fine and it runs on every 15 mins.

Yes, I will look after the scheduled_task once date will be decided.

[2019-09-05 12:01] burkmarr commented on #636
Thanks @BirenRathod.

[2019-09-05 13:04] kitenetter commented on #486
The issue of non-butterflies being auto-verified has been raised again, and I think we need to prioritise this when we can.

[2019-09-05 13:22] kitenetter commented on #486
Hi @burkmarr is it okay that I've reassigned this one to you to investigate the two issues detailed in the first comment in this thread.

[2019-09-06 11:31] burkmarr commented on #636
@johnvanbreda UKSI on Dev Warehouse failed in script 35 with this message:
[code]
It must be from this SQL in the script since it's the only one that deals with taxon_meanings:
[code]
Earlier in script 35, there are these lines to ensure that taxon_associations are updated where taxon meanings have changed.
[code]
But there's no corresponding delete query to remove taxon association records where

[2019-09-06 13:48] burkmarr commented on #636
I tried it with this correction to script 35. Accidentally re-started from script 1 again and it went down at script 5 with another foreign key violation. But given that it got to 35 before, I started again from 35 and it completed. The results are not as expected though, so I would like to tray again from the begining with the updated script. I have asked @BirenRathod to restore the DB so I can h

[2019-09-07 13:16] johnvanbreda commented on #638
Code is released now.

[2019-09-08 17:04] burkmarr commented on #636
I got the update through on dev by running it again with a modification to the import scripts. At the end of the previous update, the main taxa tables appeared to be up to date, but the cache taxa tables were not. Running the unmodified scripts again did not update the cache tables because the scripts compare the imported data with the main taxa tables to judge if there are changes that require ch

[2019-09-09 08:56] burkmarr commented on #638
@DavidRoy @kitenetter. This change to the iForm module is implemented on iRecord Dev now. If you masquerade as any user without media license options set, you should see a message at the top of the screen to instruct to set media licensing. If you are happy with this, we can implement on master so that it goes into live site when next updated. Then we can update the T&Cs page too.

[2019-09-09 09:17] BirenRathod commented on #636
@burkmarr
Just to let you know that database restore process is running at present. I will let you know as soon as it finished.

[2019-09-09 09:49] burkmarr commented on #636
Thanks Biren that’s excellent.

Rich

From: Biren <notifications@github.com>
Sent: 09 September 2019 10:18
To: BiologicalRecordsCentre/iRecord <iRecord@noreply.github.com>
Cc: Burkmar, Rich <rburkmar@ceh.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [BiologicalRecordsCentre/iRecord] UKSI update August 2019 (#636)

@burkmarr<https://github.com/burkmarr>
Just to let you know that databas

[2019-09-09 16:16] burkmarr commented on #636
The fresh update to update the UKSI on the dev warehouse succeeded (without a forced cache rebuild) and the changes flagged by Chris are visible on iRecord dev.

Output from the update scripts is shown below. The interruption at script 5 was because I forgot to provide read permission for Postgres on the data - it won't have affected the update.

Subject to some checking on dev, we now need to sch

[2019-09-09 16:53] burkmarr commented on #655
I spent some time on this today @kitenetter without making much headway. One thing making it hard to investigate is that there is a delay between changing activities, e.g. adding/removing a location filter, and it being reflected in input form - presumably due to some sort of caching or indexing.

Adding a location seems to completely fubar the mapping - not just the initial zoom - the map behavio

[2019-09-10 07:53] johnvanbreda commented on #655
@burkmarr this seems to be a consequence of the new dynamic layer. To test this, I put a breakpoint in the JS and altered settings.presetLayers in the map code to remove the dynamic layer and the page then loads fine. So, the thing that is different about this layer is the way it reacts on the map's moveend event. This event can be temporarily disabled by setting a flag `indiciaData.recetenteringA

[2019-09-10 14:37] burkmarr commented on #655
@johnvanbreda @kitenetter The combination of our complex layer switching code and the opaque workings of OpenLayers 2 have made this very hard to unravel. Although I haven't gotten to the bottom of it, I have, I think, found a reasonable workaround. We currently have a line of code that restricts the operation of OpenLayers 2 to the extent of the specified location in the activity:

[code]
If we t

[2019-09-10 15:16] johnvanbreda commented on #655
I agree, this is not a big disadvantage so I'm happy for that to be removed.

[2019-09-10 15:39] kitenetter commented on #655
Agreed - thanks @burkmarr

[2019-09-10 15:57] kitenetter commented on #638
On the user account, under the licence choices, it says:
"Select the licence to apply to your photos and other media. THIS LICENCE WILL ALSO BE APPLIED TO ALL YOUR PREVIOUSLY ENTERED RECORDS ON IRECORD DEVELOPMENT SITE."

I would prefer to make this explicitly limited to photos not records, and suggest:
"Select the licence to apply to any photos and other media that you upload. THIS LICENCE WILL A

[2019-09-10 16:29] burkmarr commented on #655
How best to manage this @johnvanbreda - is this a candidate for a hotfix? I think it's probably rednered a lot of activity forms unusable.

[2019-09-10 16:42] burkmarr commented on #638
Yes - I think that message is just plain wrong. I think the license is applied to previous images, but not to records.

The wording of the new T&Cs is on this unpublished page: https://www.brc.ac.uk/irecord/node/7801

My understanding is that when we are ready to go, we will update the current T&Cs page to this new wording and then delete this unpublished page.

[2019-09-10 16:45] burkmarr commented on #638
I also noticed a typo in the banner message:

'to' should be 'the'.

[2019-09-10 17:02] kitenetter commented on #667
Edit now done - closing.

[2019-09-10 17:02] #667 closed

[2019-09-10 17:41] kitenetter opened #670 "Large number of "In Progress" records from previous years"
This arises because I was puzzled by the apparent drop in the number of records in 2014:

![image](https://user-images.githubusercontent.com/16039111/64634567-6f580b00-d3f5-11e9-8a9d-c2cb47fc598c.png)

On investigation this results from a very large number of records, in both 2014 and 2015, being given a record_status of "I" (= In progress):

![image](https://user-images.githubusercontent.com/1603

[2019-09-10 18:42] johnvanbreda commented on #655
@burkmarr Yes. If you would prefer that I check it, why don't you create a branch called hotfix-activities, fix it, then publish it to GitHub. I can then check the change and merge to master/develop when releasing it. Or, if you feel comfortable with the change, you could do the hotfix yourself?

[2019-09-10 18:49] johnvanbreda commented on #670
Record_status=I (in progress) was intended to be used where a data entry form had been partially filled in and submitted, but the records are in a state where there is more work to do on them before they are complete and ready to review. E.g. you want to add a photo to the record. As far as I know it has rarely been used for any genuine reasons but as you say there may be a few. If records are com

[2019-09-11 08:18] burkmarr commented on #655
I've taken the first option John - created branch and merge request on client_helpers.

[2019-09-11 09:26] burkmarr commented on #655
I've done it @johnvanbreda! The changes look sensible and good to me. Sorry about basing on wrong branch - that's because I didn't really understand the hotfix workflow properly, but I think I see it now.

[2019-09-11 09:29] johnvanbreda commented on #655
No problem. Here's a document that describes how our Git process works: https://nvie.com/posts/a-successful-git-branching-model/ which is referred to from https://indicia-docs.readthedocs.io/en/latest/developing/github.html. It's more or less based on the Git Flow standard.

[2019-09-11 12:45] burkmarr commented on #636
Updated the live warehouse UKSI whilst iRecord server being moved and it went through without problems. Script output is shown below. Figures are similar to update on dev, as you'd expect, but the time taken for the update was greater - about 2 hrs and 40 mins in total. Need to check key taxa changes in iRecord when it's back up.
[code]

[2019-09-11 15:50] burkmarr commented on #636
The new taxa are available through iRecord, so closing issue.

[2019-09-11 15:50] #636 closed

[2019-09-12 11:20] MNSmith opened #671 "Verfication grid problems after server move - Records not being updated?"
Now that iRecord is available again after the server move, I'm seeing issues with the Verification grid - Accepting or Querying records seems to have no effect on the displayed record, they remain on the grid with no changes apparent.

There are other comments on other problems on the iRecord forums.

[2019-09-13 08:08] BirenRathod commented on #671
@johnvanbreda & @burkmarr
Could you check this and let me know if this works ok,

[2019-09-13 08:18] burkmarr commented on #671
Yes I think that saving a filte is working now.

[2019-09-13 08:25] johnvanbreda commented on #671
I can still get problems on verification. If I go to the verification page without the www in the link (which still works) then the ajaxproxy returns:
{"error":"iform_ajaxproxy Error: Currently not logged in, and does not have permission to save data via the proxy."}
That's because it goes to the link with www in now.

Don't we need to redirect brc.ac.uk/irecord* to www.brc.ac.uk/irecord so that a

[2019-09-13 08:27] BirenRathod commented on #671
@johnvanbreda
redirection already done. Please clear the cookies.

Also I found this error in log relate to verification....
PDOException: SQLSTATE[HY000]: General error: 1525 Incorrect DATETIME value: 'NULL': SELECT field_data_field_indicia_ae_due_date0.entity_type AS entity_type, field_data_field_indicia_ae_due_date0.entity_id AS entity_id, field_data_field_indicia_ae_due_date0.revision_id AS re

[2019-09-13 10:28] johnvanbreda commented on #671
@BirenRathod I've cleared my cookies but redirection is still not working for me. Also see my email about other problems that are now occurring. I've cleared both the Indicia and Drupal caches.

[2019-09-13 17:49] kitenetter commented on #671
@johnvanbreda my new verification page doesn't seem to be showing any records added after 10 Sept (the old page does show records added on subsequent days). Also just had an error message "Elasticsearch query failed".

[2019-09-15 13:35] MNSmith opened #672 "BWARS Website - dedicated Indicia recording forms now "missing"."
I'm not sure if this has been raised already, but since the server upgrade it would appear that all of the dedicated "single species" recording forms on the BWARS website such as those for the Ivy Bee and the Hornet appear to be "missing".  The various website pages say "report a sighting here" but when clicking on what should be the link on the page nothing happens and no form is displayed.

[2019-09-16 14:58] johnvanbreda commented on #671
@kitenetter I've restarted a complete refresh of the Elasticsearch data this morning so we pick up all the changes to UKSI. It will probably be tomorrow before it is fully back to normal with new records arriving being added straight into ES.

[2019-09-16 15:13] johnvanbreda commented on #672
@BirenRathod do you know what has happened here?

[2019-09-16 15:27] BirenRathod commented on #672
@MNSmith
I have restored all forms now, Could you please check if any forms missing?

[2019-09-16 15:42] johnvanbreda commented on #657
@burkmarr I had a play with a few alternatives (e.g. a not exists query) but found that your approach is the fastest and it also gave the correct results. When run against the last day's data (which is more realistic than your fairly large timespan) the increase in time was from 20ms to about 100ms so I am happy with that.

[2019-09-16 16:21] johnvanbreda commented on #654
The first column seems to work OK now.
I've tidied the code up and separated the multi-select tool from the first column. It will be deployed next time I do a full code update.

[2019-09-16 19:54] MNSmith commented on #672
All the forms now appear to be back in place.  Thanks.

[2019-09-17 09:14] DavidRoy commented on #672
Thanks

[2019-09-17 09:14] #672 closed

[2019-09-17 13:03] johnvanbreda commented on #551
Now implemented in code, when deployed will need to add [standardParams] control to the relevant pages.

[2019-09-18 08:49] johnvanbreda commented on #671
@kitenetter - should be OK now?

[2019-09-18 10:31] kitenetter commented on #671
@johnvanbreda yes, new records are showing again, thanks. I think we can close this one.

[2019-09-18 17:00] johnvanbreda commented on #550
@kitenetter - separate issue please!

I've implemented the code - needs the @allowRedetermination option set on the [recordDetails] control when deployed.

[2019-09-20 12:47] kitenetter commented on #670
The first requirement is to resolve #486

Once that is done I propose to start reassigning these records from "I" to "C".

Question for @johnvanbreda : if the UKBMS and NPMS records are updated from "I" to "C" will they automatically be auto-verified, or is another operation required to force the auto-verification process?

[2019-09-20 12:51] kitenetter opened #673 "Question: how many species can be added to a verification filter?"
We have a request to set up a verification filter for 400 invasive species, from various taxon groups.

- Will our filters cope with 400 species in one definition, or will this need to be split into a number of separate filters?
- Am I correct in thinking that the best approach would be to define the filter programmatically, rather than trying to add this many species via the usual filter set-up i

[2019-09-20 13:26] kitenetter opened #674 "Add ability to redet records in bulk"
Request from verifier to implement redets as a bulk operation for multiple records, in the same way as the verification buttons can be applied to multiple records.

[2019-09-20 13:26] kitenetter commented on #550
Enhancement request transferred to #674

[2019-09-20 16:58] kitenetter commented on #671
Re-opening: verifier John Tilt (warehouse user ID 18937) reports that his new verification page is not showing any pending records, while there are lots on the old page. I can reproduce that if I masquerade as him.

[2019-09-23 08:48] burkmarr commented on #655
@johnvanbreda - this looks okay now on iRecord live so I guess you did the client_helpers pull? If so, can we close this?

[2019-09-23 09:34] burkmarr commented on #657
Pull request against devel generated.

[2019-09-23 10:27] burkmarr commented on #638
@kitenetter - I've pulled the updated develop branch into http://test.brc.ac.uk/irecord_dev so the wording change you requested on the user account page is now effective there.

[2019-09-25 10:01] johnvanbreda commented on #655
Yes - thanks. Closing

[2019-09-25 10:01] #655 closed

[2019-09-25 11:22] johnvanbreda commented on #671
It was a problem with indexing against certain locations not being copied into Elasticsearch, if the location had a null code value. I've fixed this and triggered a re-index so John's new verification page will fill up over the next day or two.

[2019-09-25 11:30] johnvanbreda commented on #673
Actually I think the ideal approach here is to use a scratchpad (i.e. a Pantheon style pasted species list), then use that in the filter. The only part of this which isn't already possible is the selection of the scratchpad list in the filter builder tool so that would need to be implemented. The NT are already using scratchpad lists for filtering: https://www.brc.ac.uk/irecord/national-trust/spec

[2019-09-25 11:36] johnvanbreda commented on #670
If you change occurrences.record_status and updated_on via the database, you should also insert work_queue entries to ensure the cache builder table is updated. See https://indicia-docs.readthedocs.io/en/latest/administrating/warehouse/scheduled-tasks.html#work-queue.

Once the cache builder update occurs the auto_verify module should pick the records up.

[2019-09-25 16:40] kitenetter opened #675 "Enable verifiers to filter by other verifiers' names"
We have a very helpful pre-defined filter in the elastic verification page that allows display of all records that have been verified but not by the current verifier, see #559

What's missing is the ability to add in a column to the grid showing the names of these 'other' verifiers. Can this be added to the options available using the "Column configuration" tool?

[2019-09-25 17:21] DavidHepper opened #676 "Grid 'full screen mode' sizing incorrectly"
In ElasticSearch verify, when Full Screen Mode is enabled on a grid of more than 30 records, the vertical scroll bar fails to show the down-arrow at the bottom and the last row of the grid is not shown completely or not at all.
The screen size calculation isn't working correctly, whereas it is good in normal mode.
See the two comparative screenshots in which all available scroll bars are dragged d

[2019-09-25 18:35] kitenetter commented on #634
@burkmarr I think we can now deal with the remaining four rows.

User Alan Smith (target id 230083) confirms that the records should be transferred as specified in the first two rows of the spreadsheet.

User Karl Horne confirms that the records need transferring, but to a different account than the one I specified in the 3rd and 4th rows of the spreadsheet. The target user id should be 190188 (**

[2019-09-26 08:34] burkmarr commented on #634
Okay those updates are done now @kitenetter.

[2019-09-26 08:34] #634 closed

[2019-09-26 09:13] burkmarr commented on #638
@kitenetter - typo in info message that I mentioned a couple of days ago is now fixed in develop branch (and on http://test.brc.ac.uk/irecord_dev/).

[2019-09-26 09:20] burkmarr commented on #602
@kitenetter - can you remind me where the we are at in our conversation with MBA on this?

[2019-09-26 09:25] kitenetter commented on #602
@burkmarr MBA got back to us querying a few points, to which you suggested potential solutions, but we've not heard back since then (emails on 27-28 August). I will chase.

[2019-09-26 09:31] burkmarr commented on #602
@kitenetter - no worries. I was only asking because I saw that it was on September milestone.

[2019-09-26 09:57] kitenetter commented on #673
Okay, if we can implement the scratchpad lists in the "What" section of the filter that would be good, and I agree that this should only be for admin-managed verification (and download) filters, at least for now.

Will the scratchpad approach also allow for lists of higher taxa to be set up, e.g. to make it simpler to create filters for groups such as aculeate Hymenoptera that currently require ab

[2019-09-26 10:34] kitenetter opened #677 "Transfer set of records"
A user has set up a new account, having previously used a shared account, and wishes to transfer records from the old account (where they are linked to the wrong recorder name) to the new account. The SQL below is what I think is needed, and I've based the work_queue statement on the models given in #660

I don't think we should update the created_on field, as there is no need to trigger re-verifi

[2019-09-26 14:41] kitenetter opened #678 "Elasticsearch verification: display external weblinks as clickable links"
This arises from a request regarding the iSpot data that was imported some years ago. On the old verification page there is a clickable URL that takes you to the observation on iSpot so that any photos can be seen.

On the new page the link is given but is not clickable:

![image](https://user-images.githubusercontent.com/16039111/65698102-eb985280-e073-11e9-9948-dc3b1d793fc0.png)

Can the new pag

[2019-09-26 15:44] johnvanbreda commented on #554
Bulk verify (review grid) option now available in develop branch.

[2019-09-27 08:14] johnvanbreda commented on #537
Mistake in the UI - fixed in develop branch.

[2019-09-27 08:29] johnvanbreda commented on #678
Small issue so moved to Sept 2019 milestone and fixed in develop branch as working on ES code for other issues.

[2019-09-27 08:41] johnvanbreda commented on #677
Here's a query that illustrates there are attribute value records which will need to be updated:
[code]

In your SQL, the syntax is slightly wrong because you separate fields to update with a simple comma rather than `AND SET`. The first line should be:
[code]

[2019-09-27 08:47] johnvanbreda commented on #673
Yes, scratchpads allow hierarchical querying of the contents. BUT, isn't the problem here that UKSI does not recognise aculeates as a taxon, so the hierarchy skips from family to Hymenoptera? Here's an illustration:
[code]
Outputs:
[code]

So, even with hierarchical filtering we are still stuck with a long list of families. But, the scratchpads approach does at least tidy this up.

[2019-09-27 08:51] kitenetter commented on #671
@johnvanbreda I'm getting reports from a few verifiers that records are not appearing promptly in the new verification page. I'm not sure if some of this is just the normal lag in records getting copied into the elastic dataset - how long should that normally take?

Examples:
- John Tilt has over 1,000 pending records up to 09:22 on 27 Sep on the old page, but on the new page there are no pending

[2019-09-27 08:52] kitenetter commented on #673
Yes, there is no way round the list of families for the aculeates, but if I can set up that family list once as a scratchpad list and then re-use it each time it is needed that will be very helpful.

[2019-09-27 09:17] kitenetter commented on #677
Thanks for the additional info @johnvanbreda. However, I think I'm getting out of my depth here. Are you saying that the attributes all need to be updated (e.g. to change the created_by value)?

The problem arises because user Isabel Carter originally inherited an account that was set up for Heather Hathaway, and although she has edited the Drupal account to Isabel Carter, and has been giving Isab

[2019-09-27 09:24] johnvanbreda commented on #677
Ok - mistakenly assumed Isabel Carter was the old name were were changing away from. Since all the attribute values are already for Isabel Carter the attr data seems correct. So, it should indeed be possible to follow your original suggestion and just update the created_by_id and updated_by_id values - no need to update the attribute values at all.

[2019-09-27 09:35] johnvanbreda commented on #671
@biren - copying you in as there was an error on the warehouse which might need you to look into it.

@kitenetter - here's an explanation for you:
1. I triggered a complete re-index on the 25th.
2. At 17:40 on the 25th (Biren - check the warehouse logs) there was an error relating to the PostgreSQL database: "server closed the connection unexpectedly". This might be a server issue rather than a co

[2019-09-27 09:46] johnvanbreda commented on #676
@kitenetter can you reproduce this? I've not managed to.

Some of this may be beyond our control though as Full Screen behaviour is a browser thing which we just request, not actually our code.

[2019-09-27 09:47] BirenRathod commented on #671
@johnvanbreda
I found that the server was restarted due to Sophos security patch update.

[2019-09-27 10:55] johnvanbreda commented on #675
Small and looking at related code, so moving to Sept milestone.

[2019-09-28 13:19] DavidHepper opened #679 "VC assignment inconsistency between Verify and 'Verify - new'"
Steve Preddy (BDS, Monmouthshire) reports that although the GR of old record 91754 has been edited to ST36 and in 'Verify - new' the Vice County field shows 'North Somerset'. So far, so good.
However, in classic 'Verify' the Location field shows 'Monmouthshire|North Somerset'.
According to Cucaera, ST36 is unambiguously 'VC6 North Somerset'.
Is this a more general update problem or because of the

[2019-09-30 12:51] #678 closed

[2019-09-30 13:04] johnvanbreda commented on #551
I've added this control to the https://www.brc.ac.uk/irecord/elastic/explore/all so that it can be tested before launching properly on the verification page. @DavidRoy or @kitenetter please can you try it out?

[2019-09-30 13:05] #675 closed

[2019-09-30 13:06] johnvanbreda commented on #638
@burkmarr code now all live. Does any configuration need to be done before this can be closed?

[2019-09-30 13:18] #550 closed

[2019-09-30 13:47] kitenetter commented on #675
That's great, but we've lost the ability to filter or sort on most columns - I was hoping to use the verifier name column to filter by particular verifier names:

![image](https://user-images.githubusercontent.com/16039111/65884602-0b3fbb80-e391-11e9-9a1d-3757c875972a.png)

[2019-09-30 14:38] kitenetter commented on #551
Initial observations:
- It's impressively fast and responsive - excellent
- Filtering by VC Buckinghamshire produces a record well outside of the county - I guess that could be a record that has been assigned or blurred to a 100km square, but it looks odd to display it as a 'normal' map dot so far outside the boundary:

![image](https://user-images.githubusercontent.com/16039111/65887680-409ad800-

[2019-09-30 15:09] kitenetter commented on #551
All my existing filters work with one exception - a filter that used a boundary from My Sites produces an "Elasticsearch query failed" error

[2019-09-30 16:03] johnvanbreda commented on #675
Should be restored - I hadn't been through testing the deployment by the point you noticed this.

[2019-09-30 16:04] DavidRoy commented on #551
Great to see this.  Some immediate feedback
- works well with existing filters I've tested
- when creating a filter and select Source element, some websites appear that do not share with iRecord (e.g. Ecobat)?
- when creating a filter and selecting Source and choosing iRecord as the website, there is not the option to 'Apply' the filter (even after saving).  To apply the filter, requires it to be

[2019-09-30 16:30] DavidRoy commented on #638
I've just looked at this on irecord_dev.  A few comments.
1. should the link to your profile page, link direct to the editing version of the account profile page (rather than the view) and ideally direct to the licence choices. e.g. link in this text
**You have not yet specified a media licence. This limits the usefulness of your images. To set a licence, edit your profile page, and select an opti

[2019-09-30 16:32] DavidRoy commented on #554
When verifying a set of records (using the tick box option) and applying the decision, the message box says 'undefined record(s) updated.'.  Would be helpful to report on the number of records

[2019-09-30 19:21] johnvanbreda commented on #679
@DavidHepper ST36 does just slightly clip Monmouthshire so the assignment of both VCs is technically correct. The ES version of the page is showing the first found VC due to the way the code is written, whereas you are seeing both on the old verification page.

@kitenetter presumably the new verification page should show both VC names in the record details?

[2019-09-30 21:00] DavidHepper commented on #679
I'm not so sure about that. ST37 clips a sand bar of Monmouthshire but ST36 isn't within a country mile of it.
![image](https://user-images.githubusercontent.com/24915271/65916567-7c9d5f80-e3cd-11e9-8e81-83da8af95c67.png)

[2019-10-01 07:09] DavidRoy commented on #679
VCs have a marine buffer.
![monmouth](https://user-images.githubusercontent.com/2699478/65941395-d8460800-e422-11e9-8fce-b2f9f587f19f.png)

[2019-10-01 09:26] burkmarr commented on #657
Released in https://github.com/Indicia-Team/warehouse/releases/tag/v2.34.0.

[2019-10-01 09:57] kitenetter opened #680 "NBN exports stuck?"
For the last 24 hours or so the NBN export process seems to have got stuck on the "National Trust - full dataset" export, see:
https://www.brc.ac.uk/irecord/exports

Maybe this is just the normal batching process taking its time, but I'm getting worried as I have some NBN Atlas exports that I need to do in the next day or two, please can we check that the process is working as it should.

[2019-10-01 10:04] johnvanbreda commented on #679
Yes - I did check that ST36 clips the VC boundary which it does because of the marine buffer.

[2019-10-01 10:09] burkmarr commented on #638
@johnvanbreda yes it does, but I'll hold off in order to address @DavidRoy's concerns.

Config steps (a reminder to myself):

- From the Warehouse, add required license options to website
- From Drupal Indicia module config, turn on Indicia Licenses
- From Iform settings > set Indicia licence choices to 'User can select licence for media (photos etc) only'

[2019-10-01 11:12] burkmarr commented on #638
@DavidRoy:

Changing the link to the user's profile edit shouldn't be a problem and neither should changing the wording of the help text.

You can run a query on the dev warehouse occurrence_media table and examine the value of the licence_id column to see if your images have been updated. (I earlier confirmed that this was the case for a user with some 13,000 images.)

I think that links to the l

[2019-10-01 11:16] DavidRoy commented on #638
Thanks @burkmarr

Linking to the readable version is best I think.

For deploying to live is it possible to do this in stages.
1. implement licence choice options in user account settings.  [I can then test that it updates my images]
2. implement message for users to choose a licence

[2019-10-01 11:43] DavidHepper commented on #679
Thank you, both. I now see that the apparent buffer on the Cucaera map is probably the low tide extent whereas the marine buffer is much larger.
I don't think the ES version should use the 'first found' VC but include both/all, as previously agreed for the classic version.
The lesson of this for our recording scheme seems to be that I need to insist on more precise grid references than hectad in o

[2019-10-01 11:55] burkmarr commented on #638
@DavidRoy - it is possible to do it in two stages, but not through configuration as things stand; it would require a two-stage code update.

Any other users who update their profile after stage 1 of the update would also be able to select a media licence option. In fact this is a mandatory field, so no-one would be able to save changes to their profile without selecting a media licensing option.

[2019-10-01 11:56] burkmarr commented on #638
(You won't be able to do this using the user you logged in as last time because, as it's a madatory field, you cannot unset the licence option.)

[2019-10-01 12:38] DavidRoy commented on #638
@burkmarr
Agreed.  I did as you suggested and all worked as expected.  A few comments:
- in the explore-my records, photos tab the licence does not appear if the photo is clicked on
- from explore page, click on 'edit' record, the licence does not appear if photo clicked on
Ideally, the licence gets picked up on any use of photos

I'm happy for this to go live once @kitenetter confirms the communi

[2019-10-01 14:37] burkmarr commented on #638
@DavidRoy I've done the coding necessary to make the changes described in the first three of your five bullets above. These are in a pull request targeted on dev (https://github.com/Indicia-Team/drupal-7-module-iform/pull/18). I made a slight change to the text in your bullet 3 to remove the reference to iRecord so it just says

Addressing your comments about where the licences are displayed will

[2019-10-01 16:22] johnvanbreda commented on #551
* Click on the map implemented
* Duplication of dropdown filters - shall I remove the status and vice county filter? I quite like the latter though!
* Species tab doesn't filter and sort due to the additional complexity of using a composite aggregation. Please raise as another issue (may not be easily possible).
* Please raise the edit link as a new issue.
* I'm not sure about the new tab thing fo

[2019-10-01 16:39] johnvanbreda commented on #554
Fixed

[2019-10-01 16:39] #554 closed

[2019-10-01 16:54] burkmarr commented on #486
@kitenetter, see below with reference to first comment. We need @johnvanbreda's take on this too.

I think that this is the more difficult of the two proposals because, in the general case, it requires the addition of some configuration whereby the taxonomic group to which auto-verified taxa must belong can specified. It looks to me as though the right place to do that is on the definition of the

[2019-10-01 20:19] johnvanbreda commented on #680
I had to remove the National Trust export as there was something causing it to keep trying to run. Not sure why. It wouldn't have worked anyway since the location type filter is too slow on PostgreSQL - needs Elasticsearch for reasonable performance.

[2019-10-02 08:52] kitenetter commented on #680
@johnvanbreda the NT export process is showing as inactive, but everything else is still queued. Do we need to do some sort of reset? Should I trigger the exports again?

[2019-10-02 08:59] DavidRoy commented on #486
@sacrevert for info in the context of NPMS.  i'm surprised that >1km records get through the input system

[2019-10-02 09:05] sacrevert commented on #486
@sacrevert @burkmarr I'm aware of the handful of records at 100km, I imagine these are the result of system errors in the first few years of the scheme, but I haven't checked them individually. At some point I will look into them. It shouldn't really be possible to make records at >1km through the website; probably this has been fixed, but I would have to double-check the situation.

[2019-10-02 09:07] DavidRoy commented on #486
thanks.  Seems like a legacy issue, therefore not a priority to add extra complexity to the auto-verification system to deal with this?

The taxon filter for auto-verification is much more important in my view

[2019-10-02 09:07] sacrevert commented on #486
Agreed.

[2019-10-02 09:42] johnvanbreda commented on #680
@kitenetter Looks like the NT export had got stuck in such a way it was queued multiple times, preventing anything else getting through. I cleared the queue and reset everything and it seems to be working now.
We should probably schedule in some time to review this process and make it more robust, along with combining it with Elasticsearch.

[2019-10-02 09:45] johnvanbreda commented on #486
@burkmarr I agree with your synopsis above. Is there anything specific you want me to comment on?

[2019-10-02 11:09] johnvanbreda commented on #625
Have added an index that should help performance of the deletion extraction report since it was timing out. It will take a few hours to catch up.

[2019-10-02 11:09] #625 closed

[2019-10-02 11:42] MNSmith commented on #674
This would be a useful feature.

[2019-10-02 11:47] MNSmith opened #681 "Elastisearch grid column selection not saving changes."
Using the Elsatisearch verification grid, I have selected the columns I wish to see on my screen and saved my choices.  However, if I leave iRecord and come back at a later time, certain columns habitually reappear in the grid despite being deselected on a previous visit.

The columns that "reappear" are "Common Name", "VC No.", "Checks" and "Last Updated".

[2019-10-02 12:04] MNSmith opened #682 "Elastisearch Verification now requiring extra user input / key presses."
Previously the Elsatisearch verification for individual records worked in the same way as the old grid, ie. _Click on a record - click on verification category button - click save_, after which you could select another individual record and continue.

For the last few days some addtional dialogue is appearing and the processing of individual records  is requiring additional Verifier input as after

[2019-10-02 13:06] #682 closed

[2019-10-02 14:31] burkmarr commented on #486
Thanks @johnvanbreda - I just wanted to know that I was barking up the right tree.

[2019-10-02 14:46] burkmarr commented on #638
@DavidRoy the changes have been merged into the develop branch and are now reflected in irecord_dev if you want to see them.

[2019-10-02 18:58] johnvanbreda commented on #680
Fixed the underlying problem that caused the re-queueing so closing.

[2019-10-02 18:58] #680 closed

[2019-10-03 09:17] johnvanbreda commented on #477
I've committed a change so that on error, you should find a readme file containing the SQL and instructions on how to repair the archive.

[2019-10-03 09:18] #537 closed

[2019-10-03 09:19] #654 closed

[2019-10-03 10:09] #477 closed

[2019-10-03 17:43] kitenetter opened #683 "Add "Edit" link to elasticsearch Explore pages"
Currently the record grid in the elasticsearch Explore page has a View record link but not an Edit link.

[2019-10-03 18:05] kitenetter commented on #551
Referring to John's bullets in the previous comment:
- Bullet 3: I don't see this as a priority, so haven't added a new issue (can revisit if needed)
- Bullet 4: new issue added #683
- Bullet 5: I think you can argue this both ways - not opening in a new tab risks losing any filtering/pagination that you may have set up, and that could be seen as a barrier to accessibility. I take the point about

[2019-10-03 18:31] kitenetter commented on #411
Awaiting update from Karsten as to whether the alien gall project is still live - depending on answer to that will then see if plant gall society wish to re-engage.

[2019-10-03 20:05] kitenetter opened #684 "Review feedback from verifiers regarding iNaturalist import process"
Draw together feedback (which we know includes problematic issues around accuracy of location, communication with recorders and incompatability with NBN's handling of record licences).

Consider whether to carry on with this procedure or not,; if it is to continue, look at options for making it easier for verifiers to include or exclude this data source.

[2019-10-03 20:05] kitenetter commented on #641
Suggest parking this until we complete a review of the iNaturalist process, see #684

[2019-10-03 20:05] kitenetter commented on #633
Suggest parking this until we complete a review of the iNaturalist process, see #684

[2019-10-03 20:57] kitenetter opened #685 "Elasticsearch verification page - final tweaks"
Last few questions and requests following the implementation of the redet button and other excellent features at 3 Oct 2019.

1. Bulk verification
Within the controls shown below, does “all” mean the entire grid, and if there are filters on the grid will “all” just apply verification to the records currently displaying in the grid, across all pages?

![image](https://user-images.githubusercontent.

[2019-10-04 07:58] burkmarr commented on #677
@kitenetter - do you want me to run the SQL?

[2019-10-04 08:02] burkmarr commented on #486
So we'll just proceed with the option to limit the taxonomic scope then. @johnvanbreda, can you give me any pointers on how to proceed when a data model update is required?

[2019-10-04 09:01] johnvanbreda commented on #486
In the warehouse module `indicia_setup` there is a db folder which contains a folder for every release version that has a schema change. So, you can do a feature branch, up the 2nd version number (2.36.0) meaning you will want a folder called version_2_36_0. Then create a SQL file with the schema change in it, named yyyymmddhhmm_<brief_description>.sql.

I imagine you want a text array field to ho

[2019-10-04 09:03] burkmarr commented on #486
Cheers @johnvanbreda - that's useful. I was thinking an array too. Often it is likely to be a single (or no) value I think.

[2019-10-04 09:29] DavidRoy commented on #200
First step; add a duplicate comment field?

[2019-10-04 13:31] DavidRoy commented on #638
@burkmarr I tested again by masquerading as Bjorn.  I hit an issue when clicking on the link in the message about setting a licence (shown on home page).

The link was: http://test.brc.ac.uk/irecord_dev/user/user/6/edit#licenceopts

screenshot of error page:
![err](https://user-images.githubusercontent.com/2699478/66211279-98e21a80-e6b3-11e9-8374-8fe74f2e0142.png)

[2019-10-04 14:11] burkmarr commented on #638
@DavidRoy  the 'user/user' part is the clue here - it should just be user. I think its because I've specified a relative path so whether or not it works depends on where you did the masqerade. I'll take a look. (The pink error notice is nothing to do with it - that's something I've noticed on irecord_dev for a few days.)

[2019-10-04 14:26] kitenetter opened #686 "Species map page - tick boxes hidden behind map"
This applies to the maps accessed via Explore - Species maps (https://www.brc.ac.uk/irecord/species-maps). You can add multiple species to the map, and each additional species gets shown above the map with a tick box, but once you go over about four species the tick boxes get hidden from view behind the map.

Assigning @burkmarr to have a quick look and see if this is easy to fix, but if not we ca

[2019-10-04 14:30] kitenetter opened #687 "Species map page - allow users to save a set of selected species"
User request for enhancement to the species maps (https://www.brc.ac.uk/irecord/species-maps): it can take some time to build up a set of species to map in one go, and there is no way of saving the chosen set. The user wishes to be able to "save this as a personalised "mini-atlas" that I could then load up again in future, rather than having to create it from scratch again".

Maybe a link here wit

[2019-10-04 14:46] burkmarr commented on #638
I've created a pull request to fix this @DavidRoy. I think that this was something to do with masquerading and should be alright under normal circumstances (if you navigate to homepage before masquerading it will work), but could potentially be a problem in other circumstances so best to fix it.

[2019-10-04 15:02] kitenetter opened #688 "Problem with user email"
User Rachel Bicker has recently updated her email address on the iRecord website. The email address seems to have saved okay, but she got an error message:

![image](https://user-images.githubusercontent.com/16039111/66217872-fed49f00-e6bf-11e9-9759-461536b1491c.png)

Subsequently she is continuing to receive iRecord notifications to her old email address. In the warehouse she is user_id 700, whic

[2019-10-04 15:22] kitenetter opened #689 "Records missing from LERC indexing"
We appear to have an issue with some records not having been assigned to their LERC boundary, that may be linked to the changes that took place in Feb 2019. This has been reported by South West Scotland Environmental Information Centre. Their LERC boundary was one of the ones that changed significantly when we had the updated boundaries from ALERC, in fact it may even have come in as a new boundar

[2019-10-04 15:58] kitenetter opened #690 "User birth date"
This may be a bug in my brain rather than in the system, but a user wants to edit the date of birth that is shown on their iRecord account page. I can't find anywhere on the iRecord website or in the User and People parts of the warehouse interface that would allow me (or the user themselves) to make the change.

Am I overlooking something obvious?

[2019-10-04 16:04] johnvanbreda commented on #686
My recollection is that this was designed to only show max 4 species layers at a time.

[2019-10-04 16:20] kitenetter commented on #686
The species grid on the left does allow you to select more than four species, and dots continue to get added to the map, but the tick boxes above the map are limited to four. If we can't expand the tick boxes perhaps we should limit the selection altogether to a maximum of four?

[2019-10-07 08:43] burkmarr commented on #689
@kitenetter - what changes are those? The major LERC boundary changes I carried out were in June 2019 - are you referring to something else here?

[2019-10-07 08:50] burkmarr commented on #689
@kitenetter. If I go to Explore all records, filter on South West Scotland Environmental Information Centre boundary and ask for all records for the last five years, I get some 26,000 records going right back to 2014. I don't seem to be able to reproduce the problem.

[2019-10-07 08:50] kitenetter commented on #689
@burkmarr sorry, I was getting muddled. The date of 22 Feb is when the ERC thinks records started getting indexed properly. I had a feeling that date coincided with some problems we had with indexing due to the performance issues that hit us around that time, but that's just from my unreliable memory.

I will forward you the LERC email which gives screenshots of the problem - I was able to reprodu

[2019-10-07 10:30] burkmarr commented on #689
Thanks @kitenetter - I can see the problem now (including the images below for clarity). I've had a look at the task_spatial_indiex_builder_location.php code and I can see no reason why the re-indexing would not have picked up all overlapping samples/occurrences when this particular location - South West Scotland Environmental Information Centre (id 1437) - was updated in June this year.

The upda

[2019-10-07 12:50] johnvanbreda commented on #689
@burkmarr I agree - re-indexing this location is a sensible next step and your query looks fine. We did fix some performance issues and issues relating to indexing large locations early in the year, so what Martin says makes sense. Therefore I'm hopeful that after re-indexing it should be fine.

[2019-10-07 13:00] burkmarr commented on #689
Thanks @johnvanbreda. @kitenetter - it's now in the work_queue (id 31987127). If this fixes the problem I guess we'll need to talk about rerunning the spatial index builder on many, if not all, locations in this layer (and maybe one or two other layers)?

[2019-10-07 14:23] kitenetter opened #691 "Develop report for downloading records in MapMate format"
We have provisionally agreed with Butterfly Conservation that we should enable records (in particular for moths) to be downloaded from iRecord in a format that makes it easy for those records to be subsequently imported into MapMate. This is not an ideal dataflow scenario, in particular because MapMate has no field available for storing the iRecord unique ID (other than by appending it to a commen

[2019-10-07 14:29] kitenetter commented on #689
@burkmarr do you know when this indexing will be complete? I need to let SWSEIC know when they will be able to access a complete dataset.

[2019-10-07 14:32] kitenetter commented on #602
MBA are happy to proceed on this basis:
1. We implement the new 12nm boundary for all MBA verifiers
2. We retain the “all marine species in all locations” filters for those who wish to have them (e.g. to pick up records beyond the 12nm limit)
3. If needed taxon-specific filters can be set up to cover particular taxa of interest

Next step is for me to review the current list of marine verifiers an

[2019-10-07 14:37] burkmarr commented on #486
@johnvanbreda - I'm updating the model via SQL in the auto_verify plugin since it only needs to be updated if the auto_verify modue is enabled.

![x](https://user-images.githubusercontent.com/9275178/66320489-d397bd00-e916-11e9-8552-69a3f30ba93d.JPG)

I specified the new field, auto_accept_taxa_filters, as a text array type. The database update worked fine when I incremented the Warehouse version

[2019-10-07 15:03] burkmarr commented on #689
Looks like it already run @kitenetter and it appears to have worked.

![x](https://user-images.githubusercontent.com/9275178/66323566-e5c82a00-e91b-11e9-8bcb-b9e975c73d1b.JPG)

[2019-10-07 15:20] kitenetter commented on #689
Excellent! But can I just double-check: do you know for sure that there are not any records still waiting to be indexed that might fill in that gap in the middle of Ayrshire? Don't want to give SWSEIC the go-ahead until we know that everything is up-to-date! @burkmarr

[2019-10-07 15:21] kitenetter commented on #602
Yes please @burkmarr

[2019-10-07 15:25] burkmarr commented on #689
That map is only for a single month - August 2018 - so bound to be a bit gappy. As far as I am aware, the fact that the job has vanished from the work_queue means that it is completed - I don't think they go until the job has completed or failed. Is that right @johnvanbreda?

[2019-10-07 19:28] johnvanbreda commented on #689
That's correct @burkmarr. If the task fails it gets left in the queue with the claimed_by field still set (and hopefully some info in error_detail).

[2019-10-07 19:44] johnvanbreda commented on #486
@burkmar - in `application/views/attribute_by_survey/attribute_by_survey_edit.php` we use a species_checklist control to capture links between dynamic attributes and the taxonomy branch they link to. You could do the same here? Some notes on the differences:
* You don't need to set the occAttrs property as you only need to capture a taxon name.
* In the controller class prepareOtherViewData method

[2019-10-08 08:07] burkmarr commented on #602
@kitenetter - those are now added to the live warehouse and have been spatially indexed so are available for filtering. I've added the location type id - 17484 - to the  indexedLocationTypeIds parameter on both the 'explore all records' and 'explore my records' forms, so they are available for filtering from those forms.

```@indexedLocationTypeIds=[15,1370,2188,1103,2187,5702, 17484]```

If you w

[2019-10-08 08:27] burkmarr commented on #486
Thanks @johnvanbreda - that's a good model. I think that I should mirror this approach as closely as possible, including using taxon_meaning_id rather than external key, for the sake of consistency.

[2019-10-08 10:21] kitenetter commented on #510
I think the issues discussed here around column naming are picked up in #632 - closing.

[2019-10-08 10:21] #510 closed

[2019-10-08 10:25] kitenetter commented on #657
In my verification grid (new page) I'm still seeing species that are flagged as 'hard to ID' for some recorders, and not flagged at all for others.

Is that because we have not succeeded in changing the rule behavious as described above?

Or is it a result of the change in behaviour not being applied retrospectively?

If it's the latter I can live with that, just wanted to check that the change ha

[2019-10-08 10:32] kitenetter commented on #282
Although this issue was previously closed, we haven't implemented ID rules based on life stages, and I don't think our phenology rules take life stages into account. I'm not sure if we have an approach ready but just not yet implemented, or if further development is needed to work out an approach.

@johnvanbreda could you confirm whether we have yet incorporated any life-stage information into the

[2019-10-08 10:34] kitenetter commented on #637
@johnvanbreda are we aiming to set this up as multiple termlists, e.g. a list for birds, a list for plants, etc.? Or one longer termlist that includes a attribute that will link to a species group at sone level?

And do you want me to send you a suitable set of terms in a spreadsheet, or to set them up as a new termlist in the warehouse?

And this is going off-issue a little, but thinking ahead to

[2019-10-08 10:40] kitenetter commented on #507
Phenology over-rides: having read through the above comments again, I think we should leave the follow John's suggestion to "leave [the timeframe] at 7 days but only remove the flag if there are more than 10 accepted records inside that timeframe".

I think that makes it less likely that one-off out-of-season records will lead to inappropriate relaxations in the phenology rules.

@burkmarr are you

[2019-10-08 11:12] johnvanbreda commented on #282
Yes, we have always had this implemented in the code as we originally tried to exactly match the Record Cleaner specification. To work, the stage has to be in a custom occurrence attribute with system function 'stage' or 'sex_stage' and must exactly match the stage in the rule (though variations in case are accepted).

[2019-10-08 11:37] burkmarr commented on #486
@johnvanbreda - on my development setup I have a problem that is preventing the species_checklist control from rendering/working properly. I need to sort this out before I can pursue the route we've discussed.

The image below is from a clean install of 2.35.1 (develop branch). I reached it from the 'survey settings' button for a custom attribute. Any idea what might lead to this? Have I ommitted

[2019-10-08 12:40] burkmarr commented on #657
Yes I think that it's because they've already been through the record cleaner under the old configuration and therefore the relevant occurrence comment record was not generated. You'll need to check with some records entered after the software update: https://github.com/Indicia-Team/warehouse/releases/tag/v2.34.0

[2019-10-08 12:54] burkmarr commented on #507
@kitenetter - okay, I'll take a look soon.

MH:

JvB:

MH:

JvB:

MH:

[2019-10-08 13:10] johnvanbreda commented on #486
I think your client_helpers version is slightly out of date - can you make sure you have this commit in it please:
https://github.com/Indicia-Team/client_helpers/commit/7e7c77490f0190cdfe59667b10e2b6effc1a37f1

[2019-10-08 13:13] kitenetter commented on #282
When you say "must exactly match the stage in the rule" where are those stages defined? I cannot see anything in the verification rules tables that refers to a stage.

[2019-10-08 13:24] johnvanbreda commented on #602
Hi @burkmarr I'll do this but will make precise notes for you...

[2019-10-08 13:26] burkmarr commented on #602
Thanks @johnvanbreda.

[2019-10-08 13:28] burkmarr commented on #486
Thanks @johnvanbreda - that was the problem.

[2019-10-08 19:23] kitenetter opened #692 "Update records where auto-verification has been wrongly applied"
This issue should be tackled once #486 is closed.

As described in that issue, there are some records to which auto-verification has been applied inappropriately, mostly related to the records of taxa other than butterflies that get added to the UKBMS dataset. Such records are shown as accepted, with verifier "admin, core" and with record_decision_source given as "machine".

The set of records to

[2019-10-08 19:28] kitenetter commented on #685
1. The recently added Redet button works, but the taxon displayed in the grid for the redetermined record is not immediately refreshed, and thus at first glance it appears the redet has not worked (although the comments tab does update immediately to show that it does work).

Are we able to force an immediate refresh in the grid following a redet? If not we will need to explain the delay clearly i

[2019-10-08 19:32] kitenetter opened #693 "Add human/machine verification source to cache table?"
I think it would be useful to have occurrence.record_decision_source as a column in one of the cache tables (presumably cache_occurrences_nonfunctional?).

[2019-10-08 19:38] kitenetter opened #694 "Elastic verification: add a "Redets" column to the "Recorder experience" tab"
Under the "Recorder experience" tab verifiers can see how many of the currently selected recorder's records have been marked as Rejected:

![image](https://user-images.githubusercontent.com/16039111/66427113-42eed900-ea0b-11e9-984a-809cb22c8da7.png)

However, verifiers often redetermine a record in preference to rejecting it. It would be useful to have a fourth column in the above tables to show t

[2019-10-08 19:41] kitenetter commented on #692
P.S. please let me know when we get to the point of being ready to implement this, so that we can forewarn the moth and dragonfly verifiers.

[2019-10-09 07:31] burkmarr commented on #692
@kitenetter - I think that's probably all I need.

[2019-10-09 07:41] johnvanbreda commented on #692
No - that relates to when the Record Cleaner rules were last applied to the record.

[2019-10-09 07:43] burkmarr commented on #602
Many thanks @johnvanbreda - very useful.

[2019-10-09 15:04] johnvanbreda commented on #688
There was another account for BeeWalk which had that email address associated. I've moved the records to the main account for Rachel and deleted the BeeWalk account (the user ID link to the warehouse will update next time she logs in) using this script:
[code]

[2019-10-09 15:04] #688 closed

[2019-10-09 21:08] kitenetter opened #695 "Elastic verification: record not updated in grid following redet"
I redetermined this record during the evening of 8 October:
https://www.brc.ac.uk/irecord/record-details?occurrence_id=10936473

24 hours later it is still displaying in the new verification grid under its original determination, not the new one. I'm nervous of verifying it while the incorrect name is still displayed.

Same issue with this redetermined record:
https://www.brc.ac.uk/irecord/record-

[2019-10-10 07:41] DavidRoy commented on #695
I have the same issue with redeterminations I've made:
https://www.brc.ac.uk/irecord/record-details?occurrence_id=7078877

I've added to the October milestone given the effect on verifiers

[2019-10-10 09:04] kitenetter commented on #685
I thought this had been raised before but I can't find it (and let me know if this needs to be a separate issue): having used the 'grid column settings' tool to specify the columns that I wish to see in my grid, it would be really helpful to be able to save those settings, rather than having to recreate them every time. (And in an absolutely ideal world it would be nice to be able to save more tha

[2019-10-11 15:01] johnvanbreda commented on #685
@kitenetter the last used settings should be saved in a cookie and reloaded. Is this not happening for you? If not can I have a specific example please.

[2019-10-11 15:06] johnvanbreda commented on #693
When doing this, also consider #694 which also needs an extra field.

[2019-10-11 19:53] MNSmith commented on #694
I would like to see this feature added.

[2019-10-11 19:57] MNSmith opened #696 "Feature Request - Complete "identified by" field on Re-det."
Possibly an associated addition / feature to #694 .  I am currently re-deting a lot of records.  It would seem sensible that the name of the Verifier doing the re-det is added to the record in the "Identified by" field, as essentially that is what a re-det means, the ID had not been provided by the original Recorder.  This would be useful for other team members to see when looking at the record an

[2019-10-11 19:58] MNSmith commented on #687
This would be useful.

[2019-10-11 20:00] MNSmith commented on #685
Same problem as me with column selections not being saved.  See #681

[2019-10-12 06:38] kitenetter commented on #696
@MNSmith I'm pretty sure that this is what is already being done. It wasn't done on the older records but for some time now the redets should show update the determiner field as well as the species name.

If that's not worknig for you could you let us have a record ID example.

[2019-10-12 06:55] kitenetter commented on #685
@johnvanbreda I thought the settings were being saved at one point, but certainly for the last four or five days they haven't. My current practice is to remove some of the fields I don't need (record ID and VC number for instance), add the ones I do need (taxon family and life stage) and then move the media column into the first column so that it is next to the tick boxes. For the last four or fiv

[2019-10-12 08:21] kitenetter commented on #695
I wanted to clear these records from my gird, so I verified them using the old verification page (where they were correctly displayed with the redetermined taxon name). However, even after verification they are still showing as 'pending' on the new verification page, as well as remining under their original identification. It seems that the redet process has somehow caused them to get stuck in the

[2019-10-12 09:11] kitenetter commented on #696
Actually I have now found an anomaly here:

https://www.brc.ac.uk/irecord/record-details?occurrence_id=10521688
This is one that I redetermined, and it is now showing "Identified by" as being me.

https://www.brc.ac.uk/irecord/record-details?occurrence_id=10743334
Another that I redetermined, but there is apparently no "Identified by" attribute.

Both these records originate from the "iRecord gene

[2019-10-12 11:17] kitenetter opened #697 "Elastic verification: lookup for redeterminations fails occasionally"
On redetermining a record a window appears with an autocomplete lookup to add the new taxon name. Recently I've found that this works fine for a few redets, but every so often it stops working: I type in the taxon name I wish to use, and I get an egg-timer that fails to produce a list of species names to select from.

So far the only solution I have found is to refresh the page, which then means I

[2019-10-12 19:28] andrewvanbreda commented on #460
Hi all,

I have fixed and committed code to fix the auto-verifier as a hotfix.

From the tests I performed, Indicia changed the way it was interacting with the module (not sure why this changed), so one of the module's modes stopped working.
Essentially, I removed the broken mode and it now uses a mode that works on the occurrences/cache_occurrences tables directly (this mode always existed but wa

[2019-10-13 10:50] MNSmith commented on #696
A couple of issues are preventing me from checking if the process of putting the re-determiner name into the "Determiner / identified by" field.

1) Inconsistent display of record details.  Depending on the source of the record, different fields are displayed at different places in the Record Details pane.  The "identified by" field appears in the record attribute box in Elastisearch.  In some rec

[2019-10-13 10:51] MNSmith commented on #696
As an addition to my original comment, would it be possilbe to add an icon or change the colour of the record background in the grid so that re-detted record are more obvious?

[2019-10-13 10:54] MNSmith commented on #697
Question - where is the re-det button for Elastisearch records.  I can see an "Edit this record" button, but not a "Redet" button.

[2019-10-13 10:58] DavidRoy commented on #697
It’s by the species name in the record details panel.  It took me a while to notice this too

[2019-10-13 19:04] MNSmith commented on #697
Thanks David.  I would prefer to see this button back up on the little action bar above the record details - if we ever get bulk redet facilities this is where the button really needs to be as well.

Could we have a different icon for this feature, at present the "Edit" and "Redet" buttons have the same icon / appearance.

[2019-10-14 07:53] burkmarr commented on #486
See also https://github.com/BiologicalRecordsCentre/iRecord/issues/460#issuecomment-541354664

[2019-10-14 12:18] andrewvanbreda commented on #460
I forget to mention, there is a slight change to the way the verifier operates, previously it was not setting the updated_on, updated_by_id fields
Now it does (sets updated_by_id to 1).

Thanks @burkmarr for the link to the other issue. I will have a read through it as soon as I can.

[2019-10-14 12:31] burkmarr commented on #460
No worries @andrewvanbreda - I'm actually working on that one now, but I haven't got to the point of changing the auto-verifier code yet; currently working on the stuff around it to allow restricting taxa to be recorded against the survey. I put the link to this issue in for my own benefit.

[2019-10-14 13:44] johnvanbreda commented on #460
@burkmarr given that you are looking at this area of code, shall I wait for you to confirm a good point to apply Andy's hotfix to the live warehouse? I assume it might be worth doing both this and your changes together?

[2019-10-14 13:47] burkmarr commented on #460
Sounds sensible @johnvanbreda. This is taking me longer than I'd hoped, but it's introducing me to lots of stuff that I haven't dealt with before.

[2019-10-14 14:08] andrewvanbreda commented on #460
@burkmarr
OK, let me know if you need any help with the auto verifier as I wrote it originally.

[2019-10-14 15:21] johnvanbreda commented on #685
I've fixed the columns save issue. Still need to cover the following:

Are we able to force an immediate refresh in the grid following a redet? If not we will need to explain the delay clearly in our documentation (and perhaps add a Help button somewhere near the redet button).

[2019-10-14 15:43] burkmarr commented on #486
@johnvanbreda - I'm struggling to understand where to code the updates to the new surveys.auto_accept_taxa_filters field [an integer array that will store taxon_meaning_id values]. In a previous comment, you said:

I found 'postSubmitSaveTaxonRestrictions' which is called from a 'postSubmit' method in both the sample_attributes_website_Model and Occurrence_attributes_website_Model. Should the func

[2019-10-14 15:51] burkmarr commented on #460
Thanks @andrewvanbreda.

[2019-10-14 16:44] kitenetter opened #698 "Verification anomalies"
One of our verifiers has reported another mismatch between the new and the old verification pages, which may relate to previous issues such as #671, but some additional odd things seem to be happening.

The initial discrepancy was reported as:

I can replicate that via a masquerade.

I tried to check a few records in more detail, and found this for record id 11746908:
- on the main record display

[2019-10-14 16:56] kitenetter commented on #698
I've just set up a new verifier and on his new verification page there are no records showing as having been added since 7 October, while on the old page it runs up till today. I can't see any indication of verification status mismatches though.

[2019-10-15 14:31] johnvanbreda commented on #486
In the taxon restrictions code, the postSubmit of an attributes/websites join model detects any additional restrictions data from the species checklist grid and converts it into records in the appropriate taxon_restrictions table. If your model is similar and you have a separate survey_auto_verify_taxa table then this does sound like the right approach with a postSubmit method in the survey_model.

[2019-10-15 14:35] burkmarr commented on #486
Thanks @johnvanbreda - I'm pursuing the latter approach so I'll try with the preSubmit reformatting.

[2019-10-15 16:45] burkmarr commented on #486
Hello @johnvanbreda. From your previous comment:

I'm having trouble with this. If I echo `$this->submission` from the preSubmit method, I can't see the input values from the species_checklist control. Using Chrome dev tools I can see the form input tags are there right enough, but their values are not reflected in the model submission structure.

What do I need to do to make them available?

[2019-10-16 09:21] DavidHepper commented on #374
The 'Verifiers summary' is still broken, with or without a date range. Have I missed the ES version?

[2019-10-16 09:48] kitenetter commented on #374
@DavidHepper I'll email you a link to the test page for an ES report.

[2019-10-16 12:39] johnvanbreda commented on #486
See  `base_attributes_with_taxon_restrictions_model.postSubmitSaveTaxonRestrictions`. The data won't be in the submission since it's not a standard part of your survey's submission structure, so you need to extract it from the $_POST data. This function should give you an idea of how to pick up the data from the relevant form fields.

[2019-10-16 12:47] burkmarr commented on #486
Many thanks @johnvanbreda.

[2019-10-16 13:07] DavidHepper commented on #374
Thank you. That's not quite the same but it works for me.

[2019-10-16 13:14] DavidHepper commented on #676
Another oddity: in full screen mode there is now no vertical scroll bar. I'm seeing 29 rows (of 500) but cannot even wheelie-mouse scroll the list. The screenshot in my original post that shows such a scroll bar suggests that this is due to a recent code change.

[2019-10-16 13:15] DavidRoy commented on #676
which browser?

[2019-10-16 13:45] DavidRoy commented on #676
I can replicate in Chrome.  We'll schedule some time to investigate.  The icon design for ticklist, column-select and full screen is a recent change

[2019-10-16 13:48] johnvanbreda commented on #676
I've fixed the scroll bar issue in the code ready for the next full release.

[2019-10-16 17:09] burkmarr commented on #486
https://github.com/Indicia-Team/warehouse/pull/335. Code not yet complete, but would like @johnvanbreda to review.

[2019-10-17 13:19] burkmarr commented on #686
@kitenetter and @johnvanbreda. After some investigation and experimentation this is what I have found and what I've come up with...

- The limit on the number of layers is coded to be dependent on the number of styles specified when the form is edited ('SLD from geoserver...' field under 'other map settings'). So by adding new styles in there (which must first be defined in Geoserver) or simply re

[2019-10-17 13:52] burkmarr commented on #677
@kitenetter - shall I go ahead and do this update?

[2019-10-17 13:58] kitenetter commented on #677
@burkmarr give me a few minutes to double-check, will confirm ASAP

[2019-10-17 13:59] burkmarr commented on #638
https://github.com/Indicia-Team/drupal-7-module-iform/pull/19

[2019-10-17 14:30] burkmarr commented on #507
@kitenetter and @johnvanbreda - this is the simplest of changes in the code, just changing 2 for 10 on line 147 in https://github.com/Indicia-Team/warehouse/blob/master/modules/data_cleaner_period_within_year/plugins/data_cleaner_period_within_year.php'

But I can see that this was changed from 3 to 2 a couple of years ago with a commit message 'stops raising rule violations if 2 present in same g

[2019-10-17 14:36] johnvanbreda commented on #507
Good question. There has definitely been pressure in the other direction in the past as from many recorder's perspective they don't like the rule messages. @kitenetter you are probably best placed to make the call here though.

[2019-10-17 14:41] johnvanbreda commented on #686
I don't have any problems with the proposal. A couple of thoughts:
1) When setting up new styles, see colorbrewer2.org for colour palette ideas.
2) If the map now moves around on the page, you might need to call map.updateSize() after a move? If the map seems to redraw OK on several browsers then you are probably fine.
3) Moving this page to ES at some point seems sensible.

[2019-10-17 17:06] kitenetter commented on #677
@burkmarr well that took me quite a lot of minutes! The update is good to go, but needs an additional WHERE restriction to limit it to records added via iRecord:

[code]

[2019-10-17 19:01] kitenetter commented on #554
@johnvanbreda it's just been pointed out to me that the bulk verification options for "Apply decision to" do not appear if using Internet Explorer. Is that something within our control?

![image](https://user-images.githubusercontent.com/16039111/67039274-e7160580-f118-11e9-99fa-7ab5dce06074.png)

[2019-10-18 10:47] DavidHepper opened #699 "Verify - new: date ranges not working in filters"
The field help (mouseover popup) for filter fields of type Date indicates that they support Ranges but give an inappropriate example "123-456". Unsurprisingly, entering a date range as "2015-01-01-2018-12-31" doesn't work. Entering a single year "2010" doesn't select all records within that year. Is there or will there be a range option? Supporting conditions like ">2014" would be most useful.

[2019-10-18 11:21] burkmarr commented on #677
@kitenetter - that's down now and the cache has been updated from the work queue.

[2019-10-18 11:21] #677 closed

[2019-10-18 16:59] kitenetter opened #700 "Request to merge user accounts"
This follows on from #688 - the user concerned has provided additional information.

Progress has been made in that Rachel Bicker's iRecord account is working and sending emails to the email address she wants (even though that address is not the one currently given in her iRecord profile, which I don't understand).

However, she wishes to ensure that everything is linked to a single email address,

[2019-10-19 08:58] johnvanbreda commented on #690
The account edit form control ordering had gone wrong and it was right at the bottom of the page. I've fixed that.

Note though that the DOB field only appears when the Under 16 box is ticked (as we consider it irrelevant otherwise) so if they want to change it and are now over 16 they have to tick this box at least temporarily.

[2019-10-19 09:25] johnvanbreda commented on #519
Sussex is a "special" VC boundary we added when iRecord did not support multi-boundary filters, so verifiers could work across Sussex. There is a similar one for Yorkshire but no others. They are in the process of being removed as they are no longer needed. It's quite likely that the Sussex boundary is slightly different to the 2 components since the true VC boundaries have had updates since the c

[2019-10-19 09:57] DavidHepper commented on #519
Thank you for your work on this. It really is most useful to us in offering assistance to verifiers who might be struggling. It also proved its worth in identifying a case where a VC had inadvertently lost its verifier!
Let us continue the issue of assigning border-straddling records to VCs in #679 rather than here.
Is this summary report now sufficiently robust to go public?

[2019-10-19 10:04] DavidHepper commented on #679
Following up on this, it is most important to BDS for records to be assigned to both/all VCs touched by the Output map ref, as in the classic version. Verifiers can act accordingly to review the record themselves and, if necessary, refine the map ref to nudge it into the correct single VC. The current situation is a niggle to those verifiers who are currently unable to see some records that belong

[2019-10-21 08:51] kitenetter commented on #519
@johnvanbreda will this page only be visible to verifiers? I'm guessing so, as it only displays information related to the verification filter/s applicable to the logged-in user.

In which case what I'd ideally like to do is to have some new menu items under the heading "Resources for verifiers". However, our top-level menu items are already quite extensive, so I wonder if "Resources for verifiers

[2019-10-21 12:12] johnvanbreda commented on #671
Note to self:
* BC boundaries were updated in locations.yml file a couple of weeks ago, so I've triggered re-index.
* Taxa which don't map to the UKSI list via TVK (e.g. recording aggregates in UKBMS) were not appearing on  Elasticsearch. I've changed the reports to include basic taxon info for ES in that case.

May just need to double check comparisons between 2 verification pages once re-index d

[2019-10-21 12:41] kitenetter commented on #637
Documentation is now in:
W:\PYWELL_SHARED\Pywell Projects\BRC\_BRC_projects\iRecord\Recording form development\Review of dynamic occurrence attributes.docx

and attached:
[Review of dynamic occurrence attributes.docx](https://github.com/BiologicalRecordsCentre/iRecord/files/3750773/Review.of.dynamic.occurrence.attributes.docx)

Proposed termlists are in the first two worksheets of:
W:\PYWELL_SHARE

[2019-10-21 12:46] kitenetter opened #701 "Revise stage terms for bryophyte form"
Following discussions with @sacrevert we agreed to remove the tick box for "fruiting" and instead to add a dropdown for "stage" on the bryophyte recording form:
https://www.brc.ac.uk/irecord/enter_bryophyte_records

This is to bring the taxon-specific bryophyte form into line with the proposals for stage terms in #637

Terms to be used:
- not recorded
- gametophyte (not fruiting)
- sporophyte pres

[2019-10-21 12:53] johnvanbreda commented on #698
Note to self - review this after the current re-index (which fixes several issues) has been processed, probably around 23rd Oct.

[2019-10-21 12:54] kitenetter opened #702 "Tidy up plant record status termlist on BSBI recording form"
Following discussions with @japonicus @sacrevert and Kevin Walker we agreed to revise the status termlist used in the BSBI form:
https://www.brc.ac.uk/irecord/enter-vascular-plants

so that it matches the one currently used by BSBI, as provided by Kevin.

Note that we agreed that where the BSBI list had "unknown" we will use "not recorded" - this change may need to be reflected in the DDb?

Issue

[2019-10-21 13:07] kitenetter commented on #702
@johnvanbreda I see that the BSBI plant record status termlist:
http://warehouse1.indicia.org.uk/index.php/termlist/edit/460

has also been used by the National Trust. Should I consult them before making changes?

The proposal is to mark most of the existing terms as 'not for data entry' and to replace them with a new set of terms:

![image](https://user-images.githubusercontent.com/16039111/67207

[2019-10-21 13:11] johnvanbreda commented on #551
I've changed the hint as suggested under Bullet 5. The issues with saving selected columns to your cookies have already been fixed and the issue about the scroll bar in full screen view is fixed in the develop branch of the code.

[2019-10-21 13:26] johnvanbreda commented on #702
Yes please if that's OK. If necessary I could move them to a different termlist but it might need a bit of fiddling in the data.

[2019-10-21 14:00] kitenetter commented on #701
@kazlauskis this has implications for the app. Currently, the app has a set of dynamic attributes for mosses that includes "Fruit" as a boolean attribute (occurrence attribute id 471).

Following the above change, the website form no longer has that boolean attribute, and instead has a text (termlist) attribute called "Stage (bryophyte)", occurrence attribute id 807.

When the main website moves t

[2019-10-21 14:04] kazlauskis commented on #701
Yeah, I wondered about the existing bryophyte attributes. There shouldn't be a problem to phase the old attributes out. Each record from the app has an edit form attached to it, so any old ones will point to the old form and newer ones with new attributes should point to this new form.

[2019-10-21 14:09] johnvanbreda commented on #679
@DavidHepper the code does now index against all VCs touched by the record - that's not the problem. The issue is just that the label shown for the VC only finds one location name to show even if there are multiple. I've just added a code change so all the VC names would show in a semi-colon separated list after the next update.

[2019-10-21 14:14] DavidHepper commented on #679
That's just the job, thanks.

[2019-10-21 15:01] kitenetter commented on #701
Form on iRecord now updated, closing.

[2019-10-21 15:01] #701 closed

[2019-10-21 22:35] kitenetter commented on #697
The lookup failure is a small bug, but I do find it very irritating when doing verification. You have to wait a long time to find out whether it has actually failed, or is just being slow, and then when it does fail it takes a long time to go through the page refresh and resetting of filters. If it is possible to have a refresh button just for the lookup, i.e. on the redet window, that will refres

[2019-10-22 07:28] burkmarr commented on #689
Are you happy to close this now @kitenetter?

[2019-10-22 07:30] burkmarr commented on #686
@kitenetter - are you happy with this proposed solution? If so, I will go ahead and make a pull request.

[2019-10-22 07:32] burkmarr commented on #638
Are you happy to merge the above pull request @johnvanbreda?

[2019-10-22 08:40] DavidHepper commented on #697
I'm also a long-time supporter of manual refresh buttons. It is rare that I only want to filter on a single column header. The current refresh-on-leaving-field policy slows the system and puts unnecessary load on the server. It is hardly onerous to click a ![image](https://user-images.githubusercontent.com/24915271/67269998-abc85d80-f4af-11e9-938a-ee46d0ef93a3.png) button in this case and to reloa

[2019-10-22 08:47] DavidHepper commented on #685
Re. the issue with the icon for 'Correct', mine still shows a bad icon after various refreshes and browser cache clearances:
![image](https://user-images.githubusercontent.com/24915271/67270507-b8998100-f4b0-11e9-8978-78e07919874d.png)
(Image also shows the mouseover pop-up. This is the only record status icon that is bad.)

[2019-10-22 08:55] johnvanbreda commented on #697
@kitenetter - can you create 2 separate issues for the move of the redet button and the idea of a reload button in David's last post which I think makes sense.

[2019-10-22 08:57] johnvanbreda commented on #697
Regarding the original error, which browser has the problem and are you able to find out if there is an associated JavaScript error in the developer tools?

[2019-10-22 10:18] kitenetter commented on #697
Browser was Firefox. I've just come to the end of my photo verifications for now so can't look for Javascript errors immediately.

[2019-10-22 10:32] #695 closed

[2019-10-22 10:38] johnvanbreda commented on #695
I've fixed the bug so the record disappears from the grid (it's actually flagged as "dirty" so disappears from the Elasticsearch alias temporarily until Logstash updates the record properly).

Some of the above issues are probably due to delays caused when doing a full ES update - I've now set this up so when required, the full refresh can run simultaneously to the recent updates.

[2019-10-22 10:49] burkmarr commented on #606
@kitenetter @DavidRoy @johnvanbreda. I am proposing to move this forward by using the dev warehouse to test the workflow and impact of deleting the two aggregate vice counties (I'll just do one to start with). This is what I propose:

1. Delete the 'Sussex' location (ID 16217) via the dev warehouse interface.
2. Insert a 'task_spatial_index_builder_location_delete' task in the work queue against t

[2019-10-22 11:14] johnvanbreda commented on #606
@burkmarr Point 2 should not be needed if you do the delete via the warehouse UI.

Technically I think this is fine, there is just the "political" consideration that users who use Sussex as their default boundary will no longer be able to.

[2019-10-22 13:43] burkmarr commented on #606
Thanks @johnvanbreda - I did wonder about the need to manually add to work_queue.

This is one for you I think @kitenetter:

[2019-10-23 11:14] kitenetter commented on #606
Re the politics, what we are proposing just means that users in Sussex will now be in the same position as users in, say, Hampshire - i.e. they will not be able to choose something that matches the modern county boundary.

The only way of avoiding that is to extend the user account functionality so that users can choose from a wider range of boundary types, just as they can when setting up filters

[2019-10-23 11:25] johnvanbreda commented on #606
@kitenetter you are correct, this just relegates Sussex users to the same as everyone else. I would argue actually for dropping the selection of preferences in the user's account in the current fashion and instead advocate for a move to allowing a user to save a "favourite" filter (which perhaps could be set in the edit profile page but would also be available in the normal Explore pages). That wo

[2019-10-23 11:27] kitenetter commented on #602
Now functioning on live website, thanks. Next part of the task is for me to review and update our marine verifiers' filters. Will transfer that to a new issue - closing this one.

[2019-10-23 11:27] #602 closed

[2019-10-23 11:29] kitenetter opened #703 "Review marine verification"
Review existing marine verifiers, identify where new territorial waters boundaries will be useful, update filters as required, and liaise with MBA and CEDaR over this.

[2019-10-23 11:51] kitenetter commented on #686
@burkmarr proposals look excellent. Is there a limit to how many species can be added to the map altogether? The user whose request led to this issue wanted to have c. 30 species on the map. If that is not achievable then so be it - can the limit be added to the instructions text?

[2019-10-23 12:32] kitenetter commented on #411
No progress on this for now, I will pursue this outside Github to see where we go next for BPGS. Closing.

[2019-10-23 12:32] #411 closed

[2019-10-23 12:38] kitenetter commented on #507
I have to admit that so far it is only me who is pushing for change on this one, but I do think we ought to prioritise verifiers' needs over users' needs in this case, and I think that the threshold of 2 records is too low. I'd be happy to compromise a bit and go for 6 records.

Alongside that we can try to communicate more clearly to people that they can control the notifications they receive. Th

[2019-10-23 13:18] johnvanbreda commented on #507
@burkmar the wording is in the file modules/notification_emails/plugins/notification_emails.php.

[2019-10-24 08:47] burkmarr commented on #606
@kitenetter

I haven't got SQL access to the live Drupal DB, but on dev the figures are Sussex 97 users and Yorkshire 196 users.

If we update the Drupal MySQL DBs so that users reference a different VC, what Yorkshire VC would you like to switch them too?

@BirenRathod - is it okay for me to install SQLyog on the MySQL server for the live iRecord site?